.ev-select {

    .ev-textfield--input {
        padding-block: 6px;

        > input {
            align-self: stretch;
            flex: 1 1;
            position: absolute;
            width: 100%;
            transition: none;
            top: 0;
            line-height: 1.1;
        }
    }

    &.is-placeholder,
    &.is-dirty {
        .ev-textfield--input {
            > input {
                opacity: 0;
            }
        }
    }
}

.ev-select {
    &.is-focused {
        .ev-select--placeholder {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.ev-select {
    &.is-selecting {
        .ev-select--selected {
            position: relative;

            &:not(.is-selected) {
                opacity: 0.6;
            }

            &.is-selected {
                .ev-tag {
                    background: var(--fill-selected);
                    color: var(--text-selected);
                    border-color: var(--stroke-selected);
                }
            }
        }
    }
}

.ev-select:not(.is-searchable) {
    cursor: pointer;

    .ev-textfield--input {
        > input {
            pointer-events: none;
        }
    }
}

.ev-select {
    &.is-searchable {
        &.is-focused {
            .ev-textfield--input {
                > input {
                    opacity: 1;
                }
            }

            &.is-single {
                .ev-select--selected {
                    opacity: 0;
                }
            }
        }
    }
}

.ev-select {
    &.is-searchable {
        &.is-multiple {
            .ev-textfield--input {
                > input {
                    position: unset;
                    height: unset;
                }
            }
        }
    }
}

.ev-select--selected {
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    flex: 1;
}

.ev-select {
    &.is-multiple {
        .ev-select--selected {
            flex: 0;
        }
    }
}

.ev-select--selected-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--input-font-size);
    line-height: 1.1;
    padding-inline: var(--spacer-50);
}

.ev-select--menu {
    > .ev-overlay--content {
        > .ev-surface {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
            width: 100%;
        }
    }
}
.ev-select--list {
    flex: 1;
    overflow: auto;
}
.ev-select--list-prefix,
.ev-select--list-suffix {
    flex: 0;
}
