.ev-select {
    cursor: pointer;
}

.ev-select {
    .ev-textfield--input {
        padding-block: 6px;

        > input {
            align-self: flex-start;
            flex: 0 0;
            position: absolute;
            width: 100%;
            transition: none;
            pointer-events: none;
            top: 0;
        }
    }

    &.is-dirty {
        .ev-textfield--input {
            > input {
                opacity: 0;
            }
        }
    }
}

.ev-select--selected {
    display: inline-flex;
    max-width: 100%;
    align-items: center;
}

.ev-select--selected-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--input-font-size);
}