/**
    # EvProgress
 */
.ev-progress {
    background: transparent;
    border-radius: 999px;
    height: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.ev-progress--track,
.ev-progress--bar {
    background: currentColor;
    bottom: 0;
    height: inherit;
    left: 0;
    position: absolute;
    top: 0;
    transition: inherit;
    border-radius: 999px;
    width: 100%;
}

.ev-progress--track {
    opacity: 0.1;
}

.ev-progress--bar {
    will-change: transform, left, width;
    transition-property: transform, left, width;
}

/**
    ## Appearance
 */
.ev-progress {
    /* danger */
    &.is-appearance-danger {
        color: var(--background-danger-bold);
    }
    /* information */
    &.is-appearance-information {
        color: var(--background-information-bold);
    }
    /* notice */
    &.is-appearance-notice {
        color: var(--background-notice-bold);
    }
    /* success */
    &.is-appearance-success {
        color: var(--background-success-bold);
    }
    /* warning */
    &.is-appearance-warning {
        color: var(--background-warning-bold);
    }
}

/**
    ## Indeterminate
 */
.ev-progress--indeterminate--primary {
    animation: ev-progress-indeterminate-primary 2s infinite linear;
}
.ev-progress--indeterminate--secondary {
    animation: ev-progress-indeterminate-secondary 2s infinite linear;
}

@keyframes ev-progress-indeterminate-primary {
    0% {
        animation-timing-function: cubic-bezier(0.15, 0, 0.5, 0.4);
        left: -25%;
        width: 10%;
    }
    40% {
        animation-timing-function: cubic-bezier(0.4, 0.6, 0.6, 0.9);
        left: 40%;
        width: 80%;
    }
    100% {
        left: 160%;
        width: 60%;
    }
}

@keyframes ev-progress-indeterminate-secondary {
    0% {
        left: -100%;
        width: 100%;
    }
    60% {
        animation-timing-function: cubic-bezier(0.3, 0.4, 0.5, 0.9);
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

/**
    ## Size
 */
.ev-progress {
    &.is-size-small {
        height: 4px;
    }
    &.is-size-medium {
        height: 8px;
    }
    &.is-size-large {
        height: 16px;
    }
}