.ev-toolbar {
    --toolbar-margin: 16px;
    --toolbar-margin-adjusted: 8px;
    --toolbar-height: 52px;
    --toolbar-weight: var(--text-weight-medium);

    align-items: stretch;
    border-bottom: 1px solid var(--stroke);
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    min-height: var(--toolbar-height);
    padding-inline: var(--toolbar-margin);

}

.ev-toolbar--section-start,
.ev-toolbar--section-end,
.ev-toolbar--prefix,
.ev-toolbar--start,
.ev-toolbar--end {
    display: flex;
    align-items: stretch;
}

.ev-toolbar--section-start {
    min-width: 0;
    gap: 2rem;
}
.ev-toolbar--section-end {
    gap: 0.5rem;
}
.ev-toolbar--start {
    min-width: 0;
}

.ev-toolbar--prefix {
    gap: 0.75rem;
}

.ev-toolbar--back,
.ev-toolbar--icon,
.ev-toolbar--close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ev-toolbar {
    &.is-adjust-start {
        padding-inline-start: var(--toolbar-margin-adjusted);
    }
    &.is-adjust-end {
        padding-inline-end: var(--toolbar-margin-adjusted);
    }
}

.ev-toolbar--title {
    font-size: var(--text-size-large);
    font-weight: var(--toolbar-weight);
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    align-self: center;
}

.ev-toolbar--tabs {
    align-self: flex-end;
}

.ev-toolbar--actions {
    display: flex;
    align-items: center;
    gap: var(--spacer-100);
}

.ev-toolbar--close {
    min-width: 0;
}

.ev-toolbar {
    &.is-size-large {
        --toolbar-margin: 24px;
        --toolbar-margin-adjusted: 13px;
        --toolbar-height: 68px;
        --toolbar-weight: var(--text-weight-semibold);

        .ev-toolbar--prefix {
            gap: 0.75rem;
        }
    }

    &.is-size-medium {
        --toolbar-margin: 16px;
        --toolbar-margin-adjusted: 8px;
        --toolbar-height: 52px;
        --toolbar-weight: var(--text-weight-medium);

        .ev-toolbar--prefix {
            gap: 0.625rem;
        }
    }

    &.is-size-small {
        --toolbar-margin: 16px;
        --toolbar-margin-adjusted: 7px;
        --toolbar-height: 46px;
        --toolbar-weight: var(--text-weight-medium);

        .ev-toolbar--prefix {
            gap: 0.5rem;
        }

        .ev-toolbar--title {
            font-size: var(--text-size-medium);
        }
    }
}
