.ev-toolbar {
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3.5rem;
    padding-inline: 10px;
}

.ev-toolbar--section-start,
.ev-toolbar--section-end,
.ev-toolbar--prefix,
.ev-toolbar--start,
.ev-toolbar--end {
    display: flex;
    align-items: center;
}

.ev-toolbar--section-start {
    gap: 3rem;
}
.ev-toolbar--section-end {
    gap: 0.5rem;
}

.ev-toolbar--title {
    font-size: var(--text-size-large);
    font-weight: var(--text-weight-bold);
    padding-inline: var(--spacer-100);
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ev-toolbar .ev-tabs {
    margin-bottom: -1px;
}

.ev-toolbar--icon {
    display: inline-flex;
    width: var(--input-height-small);
    height: var(--input-height-small);
    align-items: center;
    justify-content: center;
}

.ev-toolbar--actions {
    display: flex;
    align-items: center;
    gap: var(--spacer-100);
}