.ev-toolbar {
    --toolbar-padding: 8px;
    --toolbar-height: 52px;
    --toolbar-weight: var(--text-weight-medium);
    --toolbar-action-size: 36px;

    align-items: stretch;
    border-bottom: 1px solid var(--stroke);
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    min-height: var(--toolbar-height);
    padding-inline: var(--toolbar-padding);
    max-width: 100%;
}

.ev-toolbar--section-start,
.ev-toolbar--section-end,
.ev-toolbar--prefix,
.ev-toolbar--start,
.ev-toolbar--end {
    display: flex;
    align-items: stretch;
}

.ev-toolbar--section-start {
    min-width: 0;
}
.ev-toolbar--section-end {
    gap: 0.5rem;
}
.ev-toolbar--start {
    min-width: 0;
}

.ev-toolbar--prefix {
    min-width: 0;
}

.ev-toolbar--back,
.ev-toolbar--crumbs,
.ev-toolbar--icon,
.ev-toolbar--close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ev-toolbar--icon {
    width: var(--toolbar-action-size);

    + .ev-toolbar--title {
        margin-inline-start: calc(0px - (var(--toolbar-action-size) - 34px) / 2);
    }
}

.ev-toolbar--title {
    font-size: var(--text-size-large);
    font-weight: var(--toolbar-weight);
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    align-self: center;
    padding-inline: 10px 2rem;
}

.ev-toolbar--tabs {
    align-self: flex-end;
}
.ev-toolbar--menu-button {
    align-self: center;
}

.ev-toolbar--actions {
    display: flex;
    align-items: center;
    gap: var(--spacer-100);
}

.ev-toolbar--close {
    min-width: 0;
}

.ev-toolbar {
    &.is-size-large {
        /* Action size is 42px */
        --toolbar-action-size: 42px;
        --toolbar-height: 68px;
        --toolbar-padding: 13px;
        --toolbar-weight: var(--text-weight-semibold);

        .ev-toolbar--title {
            padding-inline: 12px 2rem;
        }
    }

    &.is-size-medium {
        /* Action size is 36px */
        --toolbar-action-size: 36px;
        --toolbar-height: 52px;
        --toolbar-padding: 8px;
        --toolbar-weight: var(--text-weight-medium);
    }

    &.is-size-small {
        /* Action size is 32px */
        --toolbar-action-size: 32px;
        --toolbar-height: 44px;
        --toolbar-padding: 6px;
        --toolbar-weight: var(--text-weight-medium);

        .ev-toolbar--title {
            font-size: var(--text-size-medium);
            padding-inline: 6px 2rem;
        }
    }
}
