.ev-tab--slider {
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--tab-slider-size, 2px);
    width: 100%;
    background: currentColor;
    pointer-events: none;
    opacity: 0;
}

.ev-tab {
    &.is-selected {
        .ev-tab--slider {
            opacity: 1;
        }
    }
}

.ev-tabs {
    &.is-vertical {
        .ev-tab {
            justify-content: start;
        }
        .ev-tab--slider {
            top: 0;
            height: 100%;
            width: var(--tab-slider-size, 2px);
        }
    }
}

.ev-tabs {
    &.is-grow {
        flex-grow: 1;

        .ev-tab {
            flex: 1 0 auto;
            max-width: none;
        }
    }
}

.ev-tabs {
    &:not(.is-vertical) {
        &.is-align-tabs-end {
            .ev-tab:first-child {
                margin-inline-start: auto;
            }
        }

        &.is-align-tabs-center {
            .ev-tab:first-child {
                margin-inline-start: auto;
            }
            .ev-tab:last-child {
                margin-inline-end: auto;
            }
        }
    }
}