.ev-notifications {
    position: fixed;
    bottom: var(--spacer-200);
    right: var(--spacer-200);
    width: calc(100% - (2 * var(--spacer-200)));
    max-width: 400px;

    .ev-notification {
        position: absolute;
        bottom: 0;
        transition: transform 250ms ease-in-out 0s;
        pointer-events: auto;
        width: 100%;

        &:nth-of-type(1) {
            z-index: 5;
        }

        &:nth-of-type(2) {
            z-index: 4;
        }

        &:first-of-type {
            transform: translate(0px, 0px);
        }

        &:nth-of-type(n+2) {
            animation-duration: 0ms;
            transform: translateX(0px) translateY(100%) translateY(16px);
        }

        &:nth-of-type(n+4) {
            visibility: hidden;
        }
    }

}

.transition-notification {
    &-move,
    &-enter-active,
    &-leave-active {
        transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1) !important;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(calc(0px + 100% + 3rem)) !important;
    }

    &-leave-active {
        position: absolute;
        width: 400px;
    }
}