.ev-form-help {
    --form-help-width: 388px;
    position: relative;
}

.ev-form-help {
    .ev-field-help--content {
        position: absolute;
        right: calc(0px - var(--form-help-width));
    }
}

.ev-form-help {
    &.is-visible {
        margin-right: var(--form-help-width);
    }
}