
.ev-date-picker {
    width: 336px;
    margin: 12px;
}

.ev-date-picker-controls {
    display: flex;
    align-items: center;
}

.ev-date-picker-controls--next,
.ev-date-picker-controls--previous {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 48px;
    height: 48px;
}