.ev-list-group {
    display: flex;
    flex-direction: column;
    gap: 2px;

    > .ev-list-item {
        > .ev-list-item--icon-start {
            margin-left: 4px;
            margin-right: -8px;
        }
    }
}

.ev-list-group__expander {
    .ev-icon {
        &.is-expander-chevron {
            transition: transform 0.2s ease-in-out;
        }
    }
    &.is-expanded {
        .ev-icon {
            &.is-expander-chevron {
                transform: rotate(90deg);
            }
        }
    }
}

.ev-list-group__indicator {
    display: inline-flex;
    width: var(--input-height-x-small);
    height: var(--input-height-x-small);
    align-items: center;
    justify-content: center;
}

.ev-list-group__items {
    transition: height 0.25s ease-in-out;
    padding-inline-start: var(--spacer-200);
    display: flex;
    flex-direction: column;
    gap: 2px;
}