
.ev-button-group {
    display: inline-flex;
    flex-wrap: nowrap;
    max-width: 100%;
    vertical-align: middle;
    border-radius: var(--input-radius);
    --gap: var(--spacer-0, 0);
}

.ev-button-group--container {
    border-radius: inherit;
    display: inline-flex;
    gap: var(--gap);
}

/**
    ## Rounded modifier
*/
.ev-button-group {
    &.is-rounded {
        border-radius: 999px;
    }
}


.ev-button-group {
    &.is-gap-none {
        .ev-button:first-child {
            border-start-start-radius: inherit;
            border-end-start-radius: inherit;
        }

        .ev-button:last-child {
            border-start-end-radius: inherit;
            border-end-end-radius: inherit;
        }
    }
}

.ev-button-group {
    &.is-variant-outlined {
        &.is-appearance-default {
            border: 1px solid var(--border-input);
        }
        &.is-appearance-danger {
            border: 1px solid var(--background-danger-bold);
        }
        &.is-appearance-information {
            border: 1px solid var(--background-information-bold);
        }
        &.is-appearance-notice {
            border: 1px solid var(--background-notice-bold);
        }
        &.is-appearance-primary {
            border: 1px solid var(--background-brand-bold);
        }
        &.is-appearance-success {
            border: 1px solid var(--background-success-bold);
        }
        &.is-appearance-warning {
            border: 1px solid var(--background-warning-bold);
        }
        .ev-button-group--container {
            margin: -1px;
        }
        .ev-button {
            &:not(.is-active) {
                border-color: transparent;
            }
        }

    }
}

.ev-button-group {
    &.is-gap-none {
        &.is-variant-tonal,
        &.is-variant-bold,
        &.is-variant-default {
            .ev-button {
                &:has(+ .ev-button) {
                    border-start-end-radius: 0;
                    border-end-end-radius: 0;
                }

                + .ev-button {
                    border-start-start-radius: 0;
                    border-end-start-radius: 0;
                }
            }
        }
    }
}

.ev-button-group {
    &.is-gap-none {
        .ev-button {
            &.is-active {
                border-radius: inherit;

                &:has(+ .is-active) {
                    border-start-end-radius: 0;
                    border-end-end-radius: 0;
                    border-inline-end-color: transparent;
                }

                + .is-active {
                    border-start-start-radius: 0;
                    border-end-start-radius: 0;
                    border-inline-start-color: transparent;
                }
            }
        }
    }
}


.ev-button-group {
    &.is-gap-x-small {
        --gap: var(--spacer-25);
    }
    &.is-gap-small {
        --gap: var(--spacer-50);
    }
    &.is-gap-medium {
        --gap: var(--spacer-100);
    }
    &.is-gap-large {
        --gap: var(--spacer-150);
    }
    &.is-gap-x-large {
        --gap: var(--spacer-300);
    }
}