
.ev-button-group {
    display: inline-flex;
    flex-wrap: nowrap;
    max-width: 100%;
    vertical-align: middle;
    border-radius: var(--input-radius);
    --gap: var(--spacer-0, 0);
    justify-content: flex-start;
}

.ev-button-group--container {
    border-radius: inherit;
    display: inherit;
    justify-content: inherit;
    gap: var(--gap);
    flex: 1;
}

/**
    ## Rounded modifier
*/
.ev-button-group {
    &.is-rounded {
        border-radius: 999px;
    }
}


.ev-button-group--container {
    &.ga-0 {
        .ev-button:first-child {
            border-start-start-radius: inherit;
            border-end-start-radius: inherit;
        }

        .ev-button:last-child {
            border-start-end-radius: inherit;
            border-end-end-radius: inherit;
        }
    }
}

.ev-button-group {
    &.is-variant-outlined {
        &.is-appearance-default {
            border: 1px solid var(--stroke-input);
        }
        &.is-appearance-danger {
            border: 1px solid var(--fill-danger-bold);
        }
        &.is-appearance-information {
            border: 1px solid var(--fill-information-bold);
        }
        &.is-appearance-notice {
            border: 1px solid var(--fill-notice-bold);
        }
        &.is-appearance-primary {
            border: 1px solid var(--fill-brand-bold);
        }
        &.is-appearance-success {
            border: 1px solid var(--fill-success-bold);
        }
        &.is-appearance-warning {
            border: 1px solid var(--fill-warning-bold);
        }
        .ev-button-group--container {
            margin: -1px;
        }
        .ev-button {
            &:not(.is-active) {
                border-color: transparent;
            }
        }

    }
}

.ev-button-group {
    &.is-variant-tonal,
    &.is-variant-bold,
    &.is-variant-default {
        .ev-button-group--container {
            &.ga-0 {
                .ev-button {
                    &:has(+ .ev-button) {
                        border-start-end-radius: 0;
                        border-end-end-radius: 0;
                    }

                    + .ev-button {
                        border-start-start-radius: 0;
                        border-end-start-radius: 0;
                    }
                }
            }
        }
    }
}

.ev-button-group--container {
    &.ga-0 {
        .ev-button {
            &.is-active {
                border-radius: inherit;

                &:has(+ .is-active) {
                    border-start-end-radius: 0;
                    border-end-end-radius: 0;
                    border-inline-end-color: transparent;
                }

                + .is-active {
                    border-start-start-radius: 0;
                    border-end-start-radius: 0;
                    border-inline-start-color: transparent;
                }
            }
        }
    }
}

.ev-button-group {
    &.is-grow {
        flex-grow: 1;
        display: flex;

        .ev-button {
            flex: 1 0 auto;
            max-width: none;
        }
    }
}