
.ev-button-group {
    display: inline-flex;
    flex-wrap: nowrap;
    max-width: 100%;
    min-width: 0;
    vertical-align: middle;
    border-radius: var(--input-radius);
}

.ev-button-group--container {
    border-radius: inherit;
    display: inline-flex;
}

/**
    ## Rounded modifier
*/
.ev-button-group {
    &.is-rounded {
        border-radius: 999px;
    }
}

.ev-button-group {
    &.is-appearance-default {
        &.is-variant-outlined {
            border: 1px solid var(--border-input);

            .ev-button {
                &:not(.is-active) {
                    border-color: transparent;
                }
            }
        }
    }
}

.ev-button-group {
    &.is-variant-tonal,
    &.is-variant-bold,
    &.is-variant-default {
        .ev-button {
            &:has(+ .ev-button) {
                border-start-end-radius: 0;
                border-end-end-radius: 0;
            }

            + .ev-button {
                border-start-start-radius: 0;
                border-end-start-radius: 0;
            }
        }
    }
}

.ev-button-group {
    &.is-variant-outlined {
        .ev-button-group--container {
            margin: -1px;
        }
    }
}

.ev-button-group {
    .ev-button {
        &.is-active {
            border-radius: inherit;

            &:has(+ .is-active) {
                border-start-end-radius: 0;
                border-end-end-radius: 0;
                border-inline-end-color: transparent;
            }

            + .is-active {
                border-start-start-radius: 0;
                border-end-start-radius: 0;
                border-inline-start-color: transparent;
            }
        }
    }
}
