.ev-tooltip {
    > .ev-overlay--content {
        background-color: var(--tooltip-background);
        border-radius: var(--rounded-small);
        padding: 0.25rem 1rem;
        box-shadow: var(--tooltip-shadow);
        color: var(--tooltip-color);
    }
}

.ev-tooltip--pointer {
    display: inline-flex;
    width: 8px;
    height: 8px;
    border: 4px solid transparent;
    border-top-color: var(--tooltip-background);
}