.ev-icon {
    aspect-ratio: 1;
    display: inline-flex;
    line-height: 1;
    width: var(--icon-size-medium);
    color: var(--icon-color, currentColor);

    > svg {
        width: auto;
        height: auto;
    }
}

/**
    ## Clickable
 */
.ev-icon {
    &.is-clickable {
        cursor: pointer;
    }
}

/**
    ## Sizes
 */
.ev-icon {
    &.is-size-small {
        width: var(--icon-size-small);
    }
    &.is-size-large {
        width: var(--icon-size-large);
    }
}