@use "sass:map";
@use "@/css/tools/mapping" as mapping;

/**
    # Colors

    Note, HEXA values are quoted to prevent SASS outputting values as RGBA.
 */
$colors: () !default;
$colors: mapping.map-deep-merge(
    (
        'purple': (
            '100': #ECE5FF,
            '200': #D6C8FD,
            '300': #C3AEFD,
            '400': #AF93FD,
            '500': #9873FF,
            '600': #814EFA,
            '700': #7647E4,
            '800': #5C37B2,
            '900': #482B8A,
            '1000': #35255A,
            '100A': '#7C4EFA12',
            '200A': '#7C4EFA26',
            '300A': '#7C4EFA40',
            '400A': '#7C4EFA54',
            '500A': '#7C4EFA7D'
        ),
        'blue': (
            '100': #E5EDFF,
            '200': #BDCFF8,
            '300': #9DB7F5,
            '400': #7097F1,
            '500': #5583EE,
            '600': #2A63EA,
            '700': #265BD5,
            '800': #1E47A6,
            '900': #173781,
            '1000': #1B2742,
            '100A': '#2A63EA12',
            '200A': '#2A63EA26',
            '300A': '#2A63EA40',
            '400A': '#2A63EA54',
            '500A': '#2A63EA7D'
        ),
        'green': (
            '100': #E1FAF4,
            '200': #B6E6D9,
            '300': #92DAC6,
            '400': #61C9AD,
            '500': #2BC29A,
            '600': #13AE84,
            '700': #119E78,
            '800': #0D7C5E,
            '900': #0A6049,
            '1000': #1B3136,
            '100A': '#13AE8412',
            '200A': '#13AE8426',
            '300A': '#13AE8440',
            '400A': '#13AE8454',
            '500A': '#13AE847D'
        ),
        'red': (
            '100': #FEECEC,
            '200': #FAC4C4,
            '300': #F8A8A8,
            '400': #F58080,
            '500': #F36767,
            '600': #F04141,
            '700': #DA3B3B,
            '800': #AA2E2E,
            '900': #842424,
            '1000': #391E1E,
            '100A': '#F0414112',
            '200A': '#F0414126',
            '300A': '#F0414140',
            '400A': '#F0414154',
            '500A': '#F041417D'
        ),
        'orange': (
            '100': #FFF4E9,
            '200': #FFDBBA,
            '300': #FFCA99,
            '400': #FFB26A,
            '500': #FFA34D,
            '600': #FF8C21,
            '700': #E87F1E,
            '800': #B56317,
            '900': #8C4D12,
            '1000': #3B3124,
            '100A': '#FF8C2112',
            '200A': '#FF8C2126',
            '300A': '#FF8C2140',
            '400A': '#FF8C2154',
            '500A': '#FF8C217D'
        ),
        'neutral': (
            '0': #FFFFFF,
            '100': #eff2f9,
            '200': #d5dcec,
            '300': #bcc4db,
            '400': #a2aac3,
            '500': #848daa,
            '600': #7a829d,
            '700': #676e87,
            '800': #53586e,
            '900': #3f4355,
            '1000': #2d2f3e,
            '1100': #191926,
            '1200': #0f0f1a,
            '100A': '#061f9908',
            '200A': '#051a800f',
            '300A': '#0414661f',
            '400A': '#030f4d3d',
            '500A': '#020a337a'
        ),
        'dark-neutral': (
            '0': #0f0f1a,
            '100': #131321,
            '200': #171726,
            '300': #1c1c2c,
            '400': #292a3d,
            '500': #3f4257,
            '600': #6c738d,
            '700': #848daa,
            '800': #a2aac3,
            '900': #bcc4db,
            '1000': #d5dcec,
            '1100': #eff2f9,
            '1200': #ffffff,
            '100A': '#a2a9cd0a',
            '200A': '#a2a9cd14',
            '300A': '#a2a9cd29',
            '400A': '#a2a9cd47',
            '500A': '#a2a9cd80'
        )
    ),
    $colors
);


/**
    # token
 */
@function token($color-name) {
    $prefix: str-slice($color-name, 1, str-index($color-name, '.') - 1);
    $variant: str-slice($color-name, str-index($color-name, '.') + 1);
    $color-map: map-get($colors, $prefix);

    @if $color-map != null {
        @if map.has-key($color-map, $variant) {
            // @todo Remove the comment - just being used to track progress
            @return map.get($color-map, $variant) '/*' $color-name '*/';
        } @else {
            @error "Variant '#{$variant}'' not found in palette color '#{$prefix}'.";
        }
    } @else {
        @error "Palette color '#{$prefix}' not found.";
    }
}