@use '../tools/functions' as *;
@use "sass:map";

/**
    # Colors

    Note, HEXA values are quoted to prevent SASS outputting values as RGBA.
 */
$colors: () !default;
$colors: map-deep-merge(
    (
        'purple': (
            '100': #ECE5FF,
            '200': #D6C8FD,
            '300': #C3AEFD,
            '400': #AF93FD,
            '500': #9873FF,
            '600': #814EFA,
            '700': #7647E4,
            '800': #5C37B2,
            '900': #482B8A,
            '1000': #35255A,
            '100A': '#7C4EFA12',
            '200A': '#7C4EFA26',
            '300A': '#7C4EFA40',
            '400A': '#7C4EFA54',
            '500A': '#7C4EFA7D'
        ),
        'blue': (
            '100': #E5EDFF,
            '200': #BDCFF8,
            '300': #9DB7F5,
            '400': #7097F1,
            '500': #5583EE,
            '600': #2A63EA,
            '700': #265BD5,
            '800': #1E47A6,
            '900': #173781,
            '1000': #1B2742,
            '100A': '#2A63EA12',
            '200A': '#2A63EA26',
            '300A': '#2A63EA40',
            '400A': '#2A63EA54',
            '500A': '#2A63EA7D'
        ),
        'green': (
            '100': #E1FAF4,
            '200': #B6E6D9,
            '300': #92DAC6,
            '400': #61C9AD,
            '500': #2BC29A,
            '600': #13AE84,
            '700': #119E78,
            '800': #0D7C5E,
            '900': #0A6049,
            '1000': #1B3136,
            '100A': '#13AE8412',
            '200A': '#13AE8426',
            '300A': '#13AE8440',
            '400A': '#13AE8454',
            '500A': '#13AE847D'
        ),
        'red': (
            '100': #FEECEC,
            '200': #FAC4C4,
            '300': #F8A8A8,
            '400': #F58080,
            '500': #F36767,
            '600': #F04141,
            '700': #DA3B3B,
            '800': #AA2E2E,
            '900': #842424,
            '1000': #391E1E,
            '100A': '#F0414112',
            '200A': '#F0414126',
            '300A': '#F0414140',
            '400A': '#F0414154',
            '500A': '#F041417D'
        ),
        'orange': (
            '100': #FFF4E9,
            '200': #FFDBBA,
            '300': #FFCA99,
            '400': #FFB26A,
            '500': #FFA34D,
            '600': #FF8C21,
            '700': #E87F1E,
            '800': #B56317,
            '900': #8C4D12,
            '1000': #3B3124,
            '100A': '#FF8C2112',
            '200A': '#FF8C2126',
            '300A': '#FF8C2140',
            '400A': '#FF8C2154',
            '500A': '#FF8C217D'
        ),
        'neutral': (
            '0': #FFFFFF,
            '50': #F4F4F6,
            '100': #E8E9ED,
            '150': #DDDEE4,
            '200': #D1D3DB,
            '250': #C6C8D2,
            '300': #BABDC9,
            '350': #AFB2C0,
            '400': #A4A7B7,
            '500': #8A8EA3,
            '600': #71768E,
            '700': #5C6075,
            '800': #4A4D5E,
            '900': #363845,
            '1000': #22232B,
            '1100': #121317,
            '100A': '#06329905',
            '200A': '#052A800D',
            '300A': '#0421661C',
            '400A': '#03194D3B',
            '500A': '#02113378'
        ),
        'dark-neutral': (
            '0': #09090B,
            '50': #0E0E11,
            '100': #121317,
            '150': #17181C,
            '200': #1B1C22,
            '250': #202128,
            '300': #24262E,
            '350': #282A33,
            '400': #2D2F39,
            '500': #484B5B,
            '600': #5E6378,
            '700': #7C8098,
            '800': #989CAE,
            '900': #B8BAC7,
            '1000': #D7D8E0,
            '1100': #F3F3F5,
            '100A': '#A3A7CC0A',
            '200A': '#A3A7CC14',
            '300A': '#A3A7CC29',
            '400A': '#A3A7CC47',
            '500A': '#A3A7CC80'
        )
    ),
    $colors
);


/**
    # token
 */
@function token($color-name) {
    $prefix: str-slice($color-name, 1, str-index($color-name, '.') - 1);
    $variant: str-slice($color-name, str-index($color-name, '.') + 1);
    $color-map: map-get($colors, $prefix);

    @if $color-map != null {
        @if map.has-key($color-map, $variant) {
            // @todo Remove the comment - just being used to track progress
            @return map.get($color-map, $variant) '/*' $color-name '*/';
        } @else {
            @error "Variant '#{$variant}'' not found in palette color '#{$prefix}'.";
        }
    } @else {
        @error "Palette color '#{$prefix}' not found.";
    }
}