/**
    # EvDivider
 */
.ev-divider {
    align-items: center;
    display: flex;
    gap: var(--spacer-50);
    justify-content: center;
    margin: 0;

    @at-root hr#{&},
    & .ev-divider--line {
        border-style: var(--border-style, solid);
        color: currentColor;
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        margin: 0;
        opacity: 0.2;
    }
}


/**
    # Horizontal (default)
 */
.ev-divider {
    &.is-horizontal {
        align-items: center;
        height: 0;
        max-height: 0;
        width: 100%;

        @at-root hr#{&},
        & .ev-divider--line {
            border-width: thin 0 0 0;
        }
    }
}


/**
    # Vertical
 */
.ev-divider {
    &.is-vertical {
        min-height: 100%;
        flex-direction: column;
        flex: 1 1 auto;
        max-width: 0;
        width: 0;

        @at-root hr#{&},
        & .ev-divider--line {
            border-width: 0 thin 0 0;
        }
    }
}


/**
    # Content
 */
.ev-divider--content {
    display: inline-flex;
}
