.ev-surface {
    box-shadow: none;
    margin: 0 auto;
    transition: background-color 0.25s ease-in-out,
                box-shadow 0.25s ease-in-out;
    will-change: background-color, box-shadow;
    border-radius: inherit;
    background-color: var(--current-surface-fill);

    &.elevation-default {
        --current-surface-fill: var(--surface-default);
    }

    &.elevation-overlay {
        --current-surface-fill: var(--surface-overlay);
        box-shadow: var(--surface-overlay-shadow);
    }

    &.elevation-panel {
        --current-surface-fill: var(--surface-panel);
    }

    &.elevation-sunken  {
        --current-surface-fill: var(--surface-sunken);
    }

    &.is-grow {
        flex: 1 1 auto;
        min-height: 0;
        min-width: 0;
        margin: 0;
    }
}


.is-rounded,
.is-rounded-small {
    border-radius: var(--rounded-small);
}
.is-rounded-medium {
    border-radius: var(--rounded-medium);
}
.is-rounded-large {
    border-radius: var(--rounded-large);
}