.ev-dialog-body {
    flex: 1;
    padding: var(--padding-medium);

    &:not(.ev-card-content) {
        display: flex;
        flex-direction: column;
    }
}

.ev-dialog {
    &:has(.ev-dialog-header.is-untitled) {
        .ev-dialog-body {
            padding-top: 0;
        }
    }
}