
.ev-dialog {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.ev-dialog {
    > .ev-overlay--content {
        max-height: 100%;
        max-width: 100%;
        display: flex;
    }
}

.ev-dialog {
    &.is-fullscreen {
        > .ev-overlay--content {
            width: 100% !important;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
        }
    }
}

.ev-dialog---header {
    flex: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: end;
    align-items: center;

    + .ev-dialog--body {
        padding-top: 0;
    }
}

.ev-dialog--body {
    flex: 1;
    padding: var(--spacer-400, 2rem);
}

.ev-dialog--footer {
    flex: 0;
    padding: var(--spacer-200, 1rem);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    gap: var(--spacer-200, 1rem);
}

.ev-dialog--surface {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 480px) {
    .ev-dialog {
        > .ev-overlay--content {
            margin: 2rem 0;
            max-height: calc(100% - 4rem);
            max-width: calc(100% - 4rem);
        }
    }
}