.ev-dialog {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.ev-dialog {
    > .ev-overlay--content {
        max-height: 100%;
        max-width: 100%;
        display: flex;
    }
}

.ev-dialog {
    &.is-fullscreen {
        > .ev-overlay--content {
            width: 100% !important;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
        }
    }
}

.ev-dialog__surface {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.ev-surface {
        box-shadow: var(--surface-overlay-shadow);
    }
}

@media (min-width: 480px) {
    .ev-dialog {
        > .ev-overlay--content {
            margin: 2rem 0;
            max-height: calc(100% - 4rem);
            max-width: calc(100% - 4rem);
        }
    }
}