.ev-slide-group {
    display: flex;
    overflow: hidden;
}

.ev-slide-group--next,
.ev-slide-group--previous {
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-disabled {
        pointer-events: none;
        opacity: 0.6; // @todo: We need a disabled opacity
    }
}

.ev-slide-group--container {
    contain: content;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

.ev-slide-group--content {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    transition: 0.2s all var(--easing-standard);
    white-space: nowrap;

    > * {
        white-space: initial;
    }
}

/* Vertical */
.ev-slide-group {
    &.is-vertical {
        &,
        .ev-slide-group--container,
        .ev-slide-group--content {
            flex-direction: column;
        }
    }
}

/** Arrows Around */
.ev-slide-group {
    &.is-arrows-around {
        .ev-slide-group--next {
            order: 3;
        }
        .ev-slide-group--previous {
            order: 1;
        }
        .ev-slide-group--container {
            order: 2;
        }
    }
}

/** Arrows Start */
.ev-slide-group {
    &.is-arrows-start {
        .ev-slide-group--next {
            order: 2;
        }
        .ev-slide-group--previous {
            order: 1;
        }
        .ev-slide-group--container {
            order: 3;
        }
    }
}