@use "../settings" as settings;
@use "../tools/breakpoints" as breakpoints;

@mixin visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    display: initial;
}

@mixin media-breakpoint-up(
    $name,
    $breakpoints: settings.$grid-breakpoints
) {
    $min: breakpoints.breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }
    @else {
        @content;
    }
}
