.ev-field-help {
    display: flex;
    align-items: flex-start;
}

.ev-field-help--field {
    flex: 1;
}

.ev-field-help--content {
    --pointer-distance: 48px;

    position: relative;
    padding-left: var(--pointer-distance);
    max-width: var(--form-help-width, 388px);
}

.ev-field-help--pointer {
    position: absolute;
    width: var(--pointer-distance);
    left: 0;
    top: 26px;
}

.ev-field-help--pointer-circle {
    width: 5px;
    height: 5px;
    background: var(--background-brand-bold);
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;

    &:after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        background: var(--background-brand);
        border-radius: 50%;
        top: -3px;
        left: -3px;
    }
}

.ev-field-help--pointer-line {
    height: 1px;
    width: 100%;
    border-top: 1px solid var(--background-brand-bold);
}