/**
    # EvTextField
 */
.ev-textfield {
    align-items: center;
    background: var(--input-background);
    border-radius: var(--input-radius);
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacer-50);
    height: var(--input-height-medium);
    padding-inline: var(--spacer-75);
    border: var(--input-border);

    > * {
        flex: 0 0 auto;
        display: flex;
        width: min-content;
    }
}


/**
    # Input
 */
.ev-textfield {
    > .ev-textfield--input {
        align-self: stretch;
        flex: 1 0 auto;

        > input {
            border: 0;
            display: block;
            width: 100%;
            height: 100%;
            outline: none;
            background: transparent;
            color: inherit;
            padding: 0;
            margin: 0;
        }
    }
}