/**
    # EvTextField
 */
.ev-textfield {
    align-items: center;
    background: var(--input-background);
    border: var(--input-border);
    border-radius: var(--input-radius);
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacer-50);
    height: var(--input-height-medium);
    padding-inline: var(--spacer-75);
    position: relative;
    transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, background 0.25s ease-in-out;
    will-change: border-color, box-shadow, background;

    > * {
        flex: 0 0 auto;
        display: flex;
        width: min-content;
    }
}

/** Size modifiers */
.ev-textfield {
    &.size-small {
        height: var(--input-height-small);
        padding-inline: var(--spacer-50);
    }
    &.size-large {
        height: var(--input-height-large);
    }
}


/** Icon */
.ev-textfield--icon {
    width: var(--icon-size-medium);
}


/** Input */
.ev-textfield {
    > .ev-textfield--input {
        align-self: stretch;
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        position: relative;

        > input {
            background: transparent;
            border: 0;
            color: inherit;
            display: block;
            height: 100%;
            margin: 0;
            outline: none;
            padding: 0;
            flex: 1;
        }
    }
}


/** Loader */
.ev-textfield--loader {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}


/** Clearable */
.ev-textfield {
    .ev-textfield--clearable {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }

    &:hover,
    &.is-focused {
        .ev-textfield--clearable {
            opacity: 1;
        }
    }
}


/* Enter and leave animations */
.ev-textfield {

    .slide-fade {
        &-enter-active {
            transition: all 0.25s ease-out;
        }
        &-leave-active {
            transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1);
        }
        &-enter-from,
        &-leave-to {
            opacity: 0;
            transform: translateX(20px);
        }
    }

    .fade-in-out {
        &-enter-active {
            transition: opacity 0.25s ease-out;
        }
        &-leave-active {
            transition: opacity 0.25s cubic-bezier(1, 0.5, 0.8, 1);
        }
        &-enter-from,
        &-leave-to {
            opacity: 0;
        }
    }
}


/** Rounded modifier */
.ev-textfield {
    &.is-rounded {
        border-radius: 999px;
    }
}


/**
    ## Appearance

    EvTextfield can have the following appearance modifiers:
    - appearance-subtle
    - appearance-none
 */
.ev-textfield {

    &.appearance-button {
        border-color: transparent;
        background-color: var(--button-default-background);

        &:hover {
            background-color: var(--button-default-background-hover);
        }

        &.is-focused {
            background-color: var(--button-default-background-hover);
        }
    }

    &.appearance-subtle {
        border-color: transparent;

        &:hover {
            border-color: var(--input-border-color);
        }

        &.is-focused {
            border-color: var(--input-border-color-focus);
        }
    }

    &.appearance-none {
        border-color: transparent !important;
        box-shadow: none !important;
    }
}


/** Focused */
.ev-textfield {
    &.is-focused {
        border-color: var(--input-border-color-focus);
        box-shadow: var(--input-focus-shadow);
    }
}


/** Disabled */
.ev-textfield {
    &.is-disabled {
        filter: grayscale(0.5);
        opacity: 0.5;
        pointer-events: none;
    }
}