.ev-swatch {

    width: 2rem;
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;

    background-image: var(--pattern-checkered);
    background-size: var(--pattern-checkered-size);
    background-position: var(--pattern-checkered-position);

    align-items: stretch;
    justify-content: stretch;
    display: inline-flex;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        border: 2px solid var(--stroke);
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.ev-swatch {
    &.is-size-x-small {
        width: 24px;
    }

    &.is-size-small {
        width: 28px;
    }

    &.is-size-medium {
        width: 34px;
    }

    &.is-size-large {
        width: 40px;
    }

    &.is-size-x-large {
        width: 48px;
    }
}

.ev-swatch--sample {
    /* background: rgba(240, 65, 65, 0.73); */
}