@use "../../css/mixins";

/**
    # EvTextarea
 */
.ev-textarea--control {
    background: var(--input-background);
    border: var(--input-border);
    border-radius: var(--input-radius);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, background 0.25s ease-in-out;
    will-change: border-color, box-shadow, background;
}

/** Input */
.ev-textarea--input-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.ev-textarea--input {
    flex: 1 0 auto;

    > textarea {
        background: transparent;
        border: 0;
        color: inherit;
        display: block;
        height: 100%;
        margin: 0;
        outline: none;
        padding: var(--spacer-150);
        width: 100%;
        resize: vertical;
        min-height: var(--input-height-medium);
        line-height: 1.5;
    }
}


/** Loader */
.ev-textarea--loader {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}


/** Clearable */
.ev-textarea {
    .ev-textarea--clearable {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        padding: var(--spacer-50);
    }

    &:hover,
    &.is-focused {
        .ev-textarea--clearable {
            opacity: 1;
        }
    }
}


/* Enter and leave animations */
.ev-textarea {

    .slide-fade {
        &-enter-active {
            transition: all 0.25s ease-out;
        }
        &-leave-active {
            transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1);
        }
        &-enter-from,
        &-leave-to {
            opacity: 0;
            transform: translateX(20px);
        }
    }

    .fade-in-out {
        &-enter-active {
            transition: opacity 0.25s ease-out;
        }
        &-leave-active {
            transition: opacity 0.25s cubic-bezier(1, 0.5, 0.8, 1);
        }
        &-enter-from,
        &-leave-to {
            opacity: 0;
        }
    }
}


/**
    ## Appearance

    EvTexarea can have the following appearance modifiers:
    - is-appearance-subtle
    - is-appearance-none
 */
.ev-textarea--control {

    &.is-appearance-button {
        border-color: transparent;
        background-color: var(--fill-neutral);

        &:hover {
            background-color: var(--fill-neutral-hovered);
        }

        &.is-focused {
            background-color: var(--fill-neutral-hovered);
        }
    }

    &.is-appearance-subtle {
        border-color: transparent;

        &:hover {
            border-color: var(--stroke-input);
        }

        &.is-focused {
            border-color: var(--stroke-focused);
        }
    }

    &.is-appearance-none {
        border-color: transparent !important;
        box-shadow: none !important;
    }
}


/** Focused */
.ev-textarea {
    &.is-focused {
        .ev-textarea--control {
            border-color: var(--stroke-focused);
            box-shadow: var(--input-shadow-focus);
        }
    }
}


/** Disabled */
.ev-textarea {
    &.is-disabled {
        @include mixins.is-disabled;
    }
}


/** Error */
.ev-textarea {
    &.is-error {
        .ev-textarea--control {
            border-color: var(--stroke-danger);
        }

        &.is-focused {
            .ev-textarea--control {
                box-shadow: var(--input-shadow-error);
            }
        }
    }
}


/** Autogrow */
.ev-textarea {
    &.is-autogrow {
        textarea {
            resize: none;
        }
    }
}

/** Labelling */
.ev-textarea--label {
    label {
        display: block;
        padding-bottom: 0.5rem;
    }
}


/** Errors */
.ev-textarea--errors {
    margin-top: 0.5rem;
}

.ev-textarea-control--footer {
    padding: var(--spacer-100) var(--spacer-150);
    border-top: 1px solid var(--fill-neutral);
    color: var(--text-subtle);
    position: relative;
    display: flex;
    justify-content: space-between;

    > .ev-progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }
}
.ev-textarea {
    &.is-focused {
        .ev-textarea-control--footer {
            border-top: 1px solid var(--fill-neutral-hovered);

            > .ev-progress {
                opacity: 1;
            }
        }

    }
}