@use 'sass:math' as math;
@use 'sass:map' as map;
@use "../../../css/settings";
@use "../../../css/tools";

/**
    # .ev-layout

    Used for separating sections
 */
.ev-layout {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    flex: 1 1 auto;

    &.is-column {
        flex-direction: column;
    }

    &.is-row {
        flex-direction: row;
    }

    &.is-nowrap {
        flex-wrap: nowrap;
    }
}


/**
    # Gutters
 */
@each $breakpoint in map.keys(settings.$grid-breakpoints) {

    // Generate media query if needed
    @include tools.media-breakpoint-up($breakpoint) {
        $infix: tools.breakpoint-infix($breakpoint, settings.$grid-breakpoints);

        .ev-layout {
            @each $size in map_keys(settings.$spacers) {
                &.gutter#{$infix}-#{$size} {
                    > .ev-block {
                        padding: (math.div(map-get(settings.$spacers, $size), 2));
                    }
                    &:only-child {
                        margin: 0 - (math.div(map-get(settings.$spacers, $size), 2));
                    }
                    &:not(:only-child) {
                        margin: auto (0 - (math.div(map-get(settings.$spacers, $size), 2)));
                    }
                }
            }
        }
    }
}