.ev-message {
    align-items: flex-start;
    border-radius: var(--sheet-radius, 4px);
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacer-200);
    padding: var(--spacer-200);
    background-color: var(--message-background);
    color: var(--message-text);

    > * {
        flex: 0 0 auto;
    }
}

.ev-message--title {
    margin-bottom: 0;
    color: var(--message-title, var(--heading-default));
}

.ev-message--icon {
    color: var(--message-icon);
}

/** Appearance - Tonal */
.ev-message {
    &.is-variant-tonal {

        &.is-appearance-default {
            --message-icon: var(--icon-color);
            --message-background: var(--background-neutral);
            --message-title: var(--heading-on-muted);
        }
        &.is-appearance-primary {
            --message-icon: var(--text-brand);
            --message-background: var(--background-brand);
            --message-text: var(--text-on-brand);
            --message-title: var(--heading-on-brand);
        }
        &.is-appearance-danger {
            --message-icon: var(--text-danger);
            --message-background: var(--background-danger);
            --message-text: var(--text-on-danger);
            --message-title: var(--heading-on-danger);
        }
        &.is-appearance-information {
            --message-icon: var(--text-information);
            --message-background: var(--background-information);
            --message-text: var(--text-on-information);
            --message-title: var(--heading-on-information);
        }
        &.is-appearance-notice {
            --message-icon: var(--text-notice);
            --message-background: var(--background-notice);
            --message-text: var(--text-on-notice);
            --message-title: var(--heading-on-notice);
        }
        &.is-appearance-success {
            --message-icon: var(--text-success);
            --message-background: var(--background-success);
            --message-text: var(--text-on-success);
            --message-title: var(--heading-on-success);
        }
        &.is-appearance-warning {
            --message-icon: var(--text-warning);
            --message-background: var(--background-warning);
            --message-text: var(--text-on-warning);
            --message-title: var(--heading-on-warning);
        }
    }
}

/** Appearance - Bold */
.ev-message {
    &.is-variant-bold {

        &.is-appearance-default {
            --message-background: var(--background-neutral-bold);
            --message-text: var(--text-on-muted-bold);
            --message-title: var(--heading-on-muted-bold);
            --message-icon: var(--heading-on-muted-bold);
        }
        &.is-appearance-primary {
            --message-background: var(--background-brand-bold);
            --message-text: var(--text-on-brand-bold);
            --message-title: var(--heading-on-brand-bold);
            --message-icon: var(--heading-on-brand-bold);
        }
        &.is-appearance-danger {
            --message-background: var(--background-danger-bold);
            --message-text: var(--text-on-danger-bold);
            --message-title: var(--heading-on-danger-bold);
            --message-icon: var(--heading-on-danger-bold);
        }
        &.is-appearance-information {
            --message-background: var(--background-information-bold);
            --message-text: var(--text-on-information-bold);
            --message-title: var(--heading-on-information-bold);
            --message-icon: var(--heading-on-information-bold);
        }
        &.is-appearance-notice {
            --message-background: var(--background-notice-bold);
            --message-text: var(--text-on-notice-bold);
            --message-title: var(--heading-on-notice-bold);
            --message-icon: var(--heading-on-notice-bold);
        }
        &.is-appearance-success {
            --message-background: var(--background-success-bold);
            --message-text: var(--text-on-success-bold);
            --message-title: var(--heading-on-success-bold);
            --message-icon: var(--heading-on-success-bold);
        }
        &.is-appearance-warning {
            --message-background: var(--background-warning-bold);
            --message-text: var(--text-on-warning-bold);
            --message-title: var(--heading-on-warning-bold);
            --message-icon: var(--heading-on-warning-bold);
        }
    }
}

/** Appearance - Subtle */
.ev-message {
    &.is-variant-subtle {
        --message-action-link: var(--link-default);

        &.is-appearance-default {
            --message-icon: var(--icon-color);
        }
        &.is-appearance-primary {
            --message-icon: var(--text-brand);
        }
        &.is-appearance-danger {
            --message-icon: var(--text-danger);
        }
        &.is-appearance-information {
            --message-icon: var(--text-information);
        }
        &.is-appearance-notice {
            --message-icon: var(--text-notice);
        }
        &.is-appearance-success {
            --message-icon: var(--text-success);
        }
        &.is-appearance-warning {
            --message-icon: var(--text-warning);
        }
    }
}


.ev-message--content {
    flex: 1 0 auto;
    padding-top: 2px;
    width: min-content;
}

.ev-message--icon {
    display: inline-flex;
}

.ev-message--dismiss,
.ev-message--expand {
    display: inline-flex;

    button {
        margin: -6px;
    }
}

.ev-message--expandable {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-100, 0.5rem);
}

.ev-message--description {
    padding-top: var(--spacer-100);
}

.ev-message--actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer-200);
}

.ev-message--actions {
    .ev-button {
        &.is-variant-link {
            padding: 0;

            .ev-button--text {
                padding: 0;
            }
        }
    }
}

.ev-message--expand {
    .ev-button {
        .ev-icon {
            transition: transform 0.25s var(--easing-standard);
            transform: rotate(0);
        }

        &.is-expanded {
            .ev-icon {
                transform: rotate(-180deg);
            }
        }
    }
}


.transition-message {

    &-enter-from,
    &-leave-to {
        opacity: 0;
        height: 0;
    }

    &-enter-active,
    &-leave-active {
        transition: height 0.25s var(--easing-standard), opacity 0.25s var(--easing-standard) 0.1s;
        overflow: hidden;
    }

    &-leave-active {
        transition: height 0.25s var(--easing-standard) 0.1s, opacity 0.25s var(--easing-standard);
    }
}