.ev-message {
    --action-background: var(--background-muted);
    --action-color: var(--text-default);

    align-items: flex-start;
    background-color: var(--background-muted);
    border-radius: var(--sheet-radius, 4px);
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacer-100);
    padding: var(--spacer-100);

    > * {
        flex: 0 0 auto;
    }
}

/** Appearance */
.ev-message {

    &.is-appearance-critical {
        --action-color: var(--text-critical);
        --action-background: var(--background-critical);
        background-color: var(--background-critical);
    }
    &.is-appearance-information {
        --action-color: var(--text-information);
        --action-background: var(--background-information);
        background-color: var(--background-information);
    }
    &.is-appearance-notice {
        --action-color: var(--text-notice);
        --action-background: var(--background-notice);
        background-color: var(--background-notice);
    }
    &.is-appearance-success {
        --action-color: var(--text-success);
        --action-background: var(--background-success);
        background-color: var(--background-success);
    }
    &.is-appearance-warning {
        --action-color: var(--text-warning);
        --action-background: var(--background-warning);
        background-color: var(--background-warning);
    }
}

.ev-message--content {
    flex: 1 0 auto;
    padding-top: 2px;
    width: min-content;
}

.ev-message--icon {
    display: inline-flex;
}

.ev-message--title {
    font-size: var(--heading-size-5);
    margin-bottom: 0;

    & + * {
        margin-top: var(--spacer-50);
    }
}

.ev-message--dismiss,
.ev-message--expand {
    display: inline-flex;

    button {
        margin: -6px;
    }
}

.ev-message--expandable {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-50, 0.5rem);
}

.ev-message--actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer-100);
}


.ev-message--actions {
    .ev-button {
        &.is-appearance-link {
            padding: 0;

            .ev-button--text {
                padding: 0;
                color: var(--action-color);
            }
        }
    }
}

.ev-message:not(.is-transparent) {
    .ev-message--actions {
        .ev-button {
            &.is-appearance-default {
                background-color: var(--action-background);

                &:hover,
                &:active {
                    background-color: var(--action-color);
                    color: var(--surface-default);
                }
            }
        }
    }
}

.ev-message {
    &.is-appearance-default {
        .ev-message--actions {
            .ev-button {
                &.is-appearance-link {
                    .ev-button--text {
                        color: var(--link-default);
                    }
                }
            }
        }
    }
}

.ev-message--expand {
    .ev-button {
        .ev-icon {
            transition: transform 0.25s var(--easing-standard);
            transform: rotate(0);
        }

        &.is-expanded {
            .ev-icon {
                transform: rotate(-180deg);
            }
        }
    }

}

.ev-message {
    &.is-transparent {
        background: none;
    }
}