.ev-teleport {
    contain: layout;
    display: contents;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.ev-overlay {
    border-radius: inherit;
    bottom: 0;
    display: flex;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
}

.ev-overlay--veil {
    backdrop-filter: blur(2px);
    background: var(--background-veil);
    border-radius: inherit;
    bottom: 0;
    left: 0;
    pointer-events: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.ev-overlay--content {
    outline: none;
    position: absolute;
    pointer-events: auto;
    contain: layout;
}

html.ev-overlay-scroll-blocked {
    position: fixed;
    top: var(--ev-body-scroll-y);
    left: var(--ev-body-scroll-x);
    width: 100%;
    height: 100%;
}