
.ev-date-picker-month--days {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content;
    flex: 1 1;
    justify-content: space-around;
}

.ev-date-picker-month--day,
.ev-date-picker-month--weekday {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 48px;
    height: 48px;
}

.ev-date-picker-month--day {
    &.is-adjacent {
        opacity: 0.5;
    }
    &.is-adjacent-hidden {
        opacity: 0;
    }
}

.ev-date-picker-month--day {
    &.is-range-start,
    &.is-range-within,
    &.is-range-end {
        .ev-button {
            width: calc(100% + 4px);
        }
    }

    &.is-range-start {
        .ev-button {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &.is-range-within {
        .ev-button {
            border-radius: 0;
        }
    }

    &.is-range-end {
        .ev-button {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}