.ev-time-picker {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: fit-content;
    padding: 1rem;
}

.ev-time-picker--options {
    display: flex;
    gap: 1.5rem;
}

.ev-time-picker--controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ev-time-picker--heading {
    margin: 0;
}