.ev-quickfind {
    align-items: center;
    background-color: var(--fill-brand);
    border-radius: 999px;
    color: var(--text-brand);
    display: inline-flex;
    font-weight: var(--font-weight-medium);
    height: var(--icon-size-medium);
    letter-spacing: 0.025em;
    line-height: 1;
    padding: 0 0.7em 0 0.3em;
    gap: 0.1em;
}

.ev-quickfind {
    &.is-variant-bold {
        background-color: var(--fill-brand-bold);
        color: var(--current-surface-fill);
    }
}

.ev-quickfind {
    &.is-size-small {
        font-size: var(--text-size-small);
        height: 22px;
    }
    &.is-size-large {
        font-size: var(--text-size-large);
        height: var(--icon-size-large);
    }
}
