.ev-quickfind {
    align-items: center;
    background-color: var(--background-notice);
    border-radius: 999px;
    color: var(--text-notice);
    display: inline-flex;
    font-weight: var(--font-weight-medium);
    height: var(--icon-size-medium);
    letter-spacing: 0.025em;
    line-height: 1;
    padding: 0 0.625em 0 0.1em;
}

.ev-quickfind {
    &.is-bold {
        background-color: var(--color-primary);
        color: var(--surface-default);
    }
}

.ev-quickfind {
    &.size-small {
        font-size: var(--text-size-small);
        height: 22px;
        padding: 0 0.5em 0 0.25em;
    }
    &.size-large {
        font-size: var(--text-size-large);
        height: var(--icon-size-large);
    }
}