@use "../../css/mixins";

.ev-tag {
    --current-size: 36px;

    display: inline-flex;
    height: var(--current-size);
    align-items: center;
    background: var(--background-neutral);
    padding-inline: calc((var(--current-size) - var(--icon-size-medium)) / 2);
    border-radius: 2px;
    gap: 2px;
    transition: 0.25s color var(--easing-standard),
                0.25s background-color var(--easing-standard);
    white-space: nowrap;
    max-width: 100%;
    min-width: 0;

    > * {
        display: inline-flex;
    }
}

.ev-tag--content {
    line-height: 1.15;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline: calc(0.2 * var(--current-size));
}

.ev-tag--close {
    background: transparent;
    border: 0;
    border-radius: 50%;
    color: currentColor;
    margin-right: -4px;
    margin-left: -4px;
    padding: 0;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: 0.25s color var(--easing-standard);
    flex: 0 0 auto;
    z-index: 0;

    &:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        z-index: -1;
        transform: scale(0.6);
        transition: 0.25s background-color var(--easing-standard),
                    0.25s transform var(--easing-standard);
    }
    
    &:hover,
    &:focus-visible {
        color: var(--surface-default);
        outline: none;

        &:before {
            transform: scale(1);
            background-color: var(--text-default);
        }
    }
}

.ev-tag--filter {
    transition: 0.15s var(--easing-standard);
}

/**
    ## Appearance
 */
.ev-tag {
    @include mixins.generate-appearances(true);
}


/**
    ## Rounded modifier
*/
.ev-tag {
    &.is-rounded {
        border-radius: 999px;
    }
}