.ev-data-table-row {
    transition: background 0.25s var(--easing-standard);

    &:hover {
        background: var(--fill-neutral-subtle-hovered);
    }

    &.is-selected {
        background: var(--fill-selected);

        &:hover {
            background: var(--fill-selected-hovered);
        }
    }
}