@use "../../../css/settings";

.ev-container {
    margin: 0;
    min-width: 0;
    max-width: 100%;
    width: 100%;

    &.is-centered {
        margin-left: auto;
        margin-right: auto;
    }

    &.is-size {
        &-small {
            max-width: 600px;
        }
        &-medium {
            max-width: 900px;
        }
        &-large {
            max-width: 1288px;
        }
        &-readable {
            max-width: var(--text-width-readable, 65ch);
        }
    }
}