@use "../../../css/settings";

/**
    # .ev-container

    Can be used for a center focused page:

    1. Non-fluid containers are limited in width.
 */
.ev-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &.is-fluid {
        max-width: 100%;
    }

    &.fill-height {
        display: flex;
        flex-wrap: wrap;
    }
}

@each $breakpoint in map_keys(settings.$grid-breakpoints) {
    @if $breakpoint != 'xs' {
        /* 1 */
        @media only screen and (min-width: map-get(settings.$grid-breakpoints, $breakpoint)) {
            .ev-container {
                max-width: map-get(settings.$grid-breakpoints, $breakpoint) * 0.9375;
            }
        }
    }
}