
.ev-tag-group {
    .ev-slide-group--content {
        gap: 4px;
        align-items: center;
    }
}

.ev-tag-group {
    &.is-column {
        .ev-slide-group--content {
            flex-wrap: wrap;
            white-space: normal;
            max-width: 100%;
        }
    }
}