@use "@/css/mixins";

.ev-lozenge {
    align-items: center;
    border-radius: 3px;
    display: inline-flex;
    max-width: 100%;
    padding-inline: var(--spacer-50, 4px);
    vertical-align: middle;
}

.ev-lozenge--label {
    font-size: 0.6875rem;
    font-weight: var(--font-weight-bold, 700);
    line-height: 1.375rem;
    letter-spacing: 0.1em;
    overflow: hidden;
    padding-inline: var(--spacer-50, 4px);
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

/**
    ## Appearance
 */
.ev-lozenge {
    background: var(--lozenge-appearance-background);
    border: var(--lozenge-appearance-border);
    color: var(--lozenge-appearance-color, currentColor);

    @include mixins.generate-appearances(lozenge, false);

    /* Inverse */
    &.is-appearance-inverse {
        --lozenge-appearance-background: var(--fill-inverse);
        --lozenge-appearance-color: var(--text-inverse);

        &.is-variant-bold {
            --lozenge-appearance-background: var(--fill-inverse-bold);
        }

        &.is-variant-outlined {
            --lozenge-appearance-background: transparent;
            --lozenge-appearance-border: 1px solid var(--fill-inverse-bold);
            --lozenge-appearance-color: var(--fill-inverse-bold);
        }
        &.is-variant-subtle {
            --lozenge-appearance-background: transparent;
        }
    }
}