@use "@/css/mixins";

/**
    # EvButton
 */
.ev-button {
    --button-size: var(--input-height-medium);

    align-items: center;
    border-radius: var(--input-radius);
    display: inline-flex;
    font-size: var(--text-size-medium);
    font-weight: var(--font-weight-semibold);
    height: var(--button-size);
    line-height: 1.15;
    justify-content: center;
    padding-inline: calc((var(--button-size) - var(--icon-size-medium)) / 2);
    position: relative;
    text-decoration: none !important;
    transition: background 0.15s ease-in-out, color 0.15s ease-in-out, border 0.15s ease-in-out;
    user-select: none;

    &:focus-visible {
        outline: 2px solid var(--stroke-focused);
        outline-offset: 2px;
    }

    > * {
        display: inline-flex;
        opacity: 1;
        transition: opacity 0.25s ease-in-out;
    }
}

.ev-button--content {
    padding-inline: calc(0.2 * var(--button-size));
}

/**
    ## Disabled
 */
.ev-button {
    &[disabled],
    &.is-disabled {
        @include mixins.is-disabled;
    }
}

/**
    ## Full Width
 */
.ev-button {
    &.is-fullwidth {
        width: 100%;
    }
}


/**
    ## Loading State

    Fades out all internal elements except the loading spinner, which fades in
    over the top of all other content.
 */
.ev-button {
    &.is-loading {
        pointer-events: none;

        > * {
            opacity: 0;
        }

        > .ev-button--loading {
            opacity: 1;
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


/**
    ## Appearance

    Appearance modifier classes based on available `appearance` options:
    - default
    - danger
    - primary
    - subtle
 */
.ev-button {
    background: var(--button-appearance-background);
    border: var(--button-appearance-border);
    color: var(--button-appearance-color, currentColor);

    @include mixins.generate-appearances(button, true);


    /* Inverse */
    &.is-appearance-inverse {
        --button-appearance-background: var(--fill-inverse);
        --button-appearance-color: var(--text-inverse);
        &.is-clickable {
            &:hover {
                --button-appearance-background: var(--fill-inverse-hovered);
            }

            &:active {
                --button-appearance-background: var(--fill-inverse-pressed);
            }
        }

        &.is-variant-bold {
            --button-appearance-background: var(--fill-inverse-bold);

            &:hover {
                --button-appearance-background: var(--fill-inverse-bold-hovered);
            }
            &:active {
                --button-appearance-background: var(--fill-inverse-bold-pressed);
            }
        }

        &.is-variant-outlined {
            --button-appearance-background: transparent;
            --button-appearance-border: 1px solid var(--fill-inverse-bold);
            --button-appearance-color: var(--fill-inverse-bold);

            &.is-clickable {
                &:hover {
                    --button-appearance-color: var(--text-inverse);
                    --button-appearance-background: var(--fill-inverse-bold-hovered);
                }
                &:active {
                    --button-appearance-color: var(--text-inverse);
                    --button-appearance-background: var(--fill-inverse-bold-pressed);
                }
            }
        }
        &.is-variant-subtle {
            --button-appearance-background: transparent;
        }
    }

    /** Link Variant */
    &.is-variant-link {
        --button-appearance-background: transparent !important;

        &:hover,
        &:active {
            .ev-button--content {
                text-decoration: underline;
            }
        }
    }
}


/**
    ## Sizes

    Size modifier classes based on available `size` options:
    - small
    - medium (default)
    - large
 */
.ev-button {

    /** X Small */
    &.is-size-x-small {
        --button-size: var(--input-height-x-small);
        font-size: var(--text-size-small);
        font-weight: var(--font-weight-medium);
    }

    /* Small */
    &.is-size-small {
        --button-size: var(--input-height-small);
        font-weight: var(--font-weight-medium);
    }

    /* Large */
    &.is-size-large {
        font-size: var(--text-size-large);
        --button-size: var(--input-height-large);
    }

    /* X Large */
    &.is-size-x-large {
        font-size: var(--text-size-large);
        --button-size: var(--input-height-x-large);
    }
}


/**
    ## Rounded modifier
*/
.ev-button {
    &.is-rounded {
        border-radius: 999px;
    }
}



/**
    ## Icon

    When the button only contains an icon.
 */
.ev-button {
    &.is-icon {
        padding: 0 !important;
        aspect-ratio: 1;

        > .ev-button--content {
            padding-inline: 0;
        }
    }
}
