@use "../../css/mixins";

.ev-badge {
    position: relative;
    display: inline-flex;
}

.ev-badge--content {
    align-items: center;
    border-radius: 1rem;
    display: inline-flex;
    font-weight: var(--font-weight-bold, 700);
    font-size: 0.75rem;
    height: 1.25rem;
    justify-content: center;
    line-height: 1;
    min-width: 1.25rem;
    padding: 0.25rem 0.375rem;
    pointer-events: auto;
    position: absolute;
    text-align: center;
    text-indent: 0;
    white-space: nowrap;
    transition: 0.25s var(--easing-standard);
    z-index: 0;
}

/*
    ## Appearance
 */
.ev-badge--content {
    @include mixins.appearance-default;
    @include mixins.appearance-danger;
    @include mixins.appearance-information;
    @include mixins.appearance-notice;
    @include mixins.appearance-success;
    @include mixins.appearance-warning;
}

/* Inline */
.ev-badge {
    &.is-inline {
        align-items: center;
        padding: 0 0.25rem;

        .ev-badge--content {
            position: relative;
        }
    }
}

/* Icons */
.ev-badge--content {
    .ev-icon {
        width: 0.75rem;
        color: inherit;
        margin: 0 -2px;
    }
}

/* Dot */
.ev-badge {
    &.is-dot {
        .ev-badge--content {
            height: 8px;
            width: 8px;
            min-width: 0;
            padding: 0;
        }
    }
}

/* Bordered */
.ev-badge {
    &.is-bordered {
        .ev-badge--content {
            &:before {
                border-radius: inherit;
                border-style: solid;
                border-width: 2px;
                bottom: -2px;
                color: var(--surface-default);
                content: '';
                left: -2px;
                position: absolute;
                right: -2px;
                top: -2px;
                z-index: -1;
            }
        }
    }
}

.ev-badge--content {
    &.is-pulsate {
        &:after {
            animation: appearance-pulse 1.25s cubic-bezier(.215,.61,.355,1) infinite;
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 1rem;
            opacity: 0;
            background: inherit;
        }

        .ev-badge.is-dot & {
            &:after {
                animation: appearance-pulse-large 1.25s cubic-bezier(.215,.61,.355,1) infinite;
            }
        }
    }
}

@keyframes appearance-pulse {
    0% {
        opacity: 1;
    }

    80%, 100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes appearance-pulse-large {
    0% {
        opacity: 1;
    }

    80%, 100% {
        opacity: 0;
        transform: scale(2);
    }
}