@use "../../css/mixins";

/**
    # EvRadio
 */
.ev-radio {
    display: inline-flex;
}


/** EvRadio control */
.ev-radio--control {
    align-items: center;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    position: relative;
    width: 40px;
}


/* EvRadio input */
.ev-radio--control {
    input {
        aspect-ratio: 1;
        cursor: pointer;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
    }
}


/* Radio circles */
.ev-radio--circles {
    align-items: center;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    position: relative;
    width: var(--icon-size-medium);

    &:before {
        aspect-ratio: 1;
        background: var(--input-focus-background);
        border-radius: 50%;
        content: '';
        opacity: 0;
        position: absolute;
        transition: width 0.25s ease-in-out,
                    opacity 0.25s ease-in-out;
        width: 100%;
        will-change: width, opacity;
    }
}

.ev-radio--outer-circle,
.ev-radio--inner-circle {
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-flex;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

.ev-radio--outer-circle {
    border: 2px solid var(--input-border-color);
    transition: transform 0.25s cubic-bezier(.5,.32,.38,1.22),
                border-color 0.25s ease-in-out;
    width: 22px;
    will-change: border-color, transform;
    transform: translate(-50%, -50%) scale(0.75);
}

.ev-radio--inner-circle {
    background-color: var(--color-primary);
    opacity: 0;
    transition: transform 0.25s cubic-bezier(.5,.32,.38,1.22),
                background-color 0.25s ease-in-out,
                opacity 0.25s ease-in-out;
    width: 12px;
    will-change: transform, background-color, opacity;
    transform: translate(-50%, -50%) scale(0.5);
}


/** Hover state */
.ev-radio {
    &.is-focused-visible,
    &:hover {
        .ev-radio--circles {
            &:before {
                opacity: 1;
                width: 42px;
            }
        }
        .ev-radio--outer-circle {
            border-color: var(--color-primary);
            transform: translate(-50%, -50%) scale(0.9);
        }
    }
}


/** Checked state */
.ev-radio {
    &.is-checked {
        .ev-radio--outer-circle {
            border-color: var(--color-primary);
            transform: translate(-50%, -50%) scale(1);
        }
        .ev-radio--inner-circle {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}


/** Disabled modifier */
.ev-radio {
    &.is-disabled {
        @include mixins.is-disabled;
    }
}


/** Error modifier */
.ev-radio {
    &.is-error {
        .ev-radio--outer-circle {
            border-color: var(--input-border-color-error);
        }
        .ev-radio--inner-circle {
            background-color: var(--input-border-color-error);
        }
    }
}