.ev-kbd {
    border-radius: var(--input-radius);
    display: inline-flex;
    font-family: var(--typeface-monospace), monospace;
    font-weight: var(--font-weight-regular);
    padding: 0.2em 0.425em;
    font-size: 85%;
    border: 1px solid var(--stroke);
    border-bottom-width: 2px;
}

.ev-kbd {
    &.is-size-small {
        font-size: 0.75em;
    }

    &.is-size-large {
        font-size: 1em;
    }
}