@use "@/css/tools" as tools;
@use "@/css/settings";

.ev-card-content {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacer-150);
}
.ev-card-content--icon {
    flex: 0;
}
.ev-card-content--detail {
    flex: 1;
    min-width: 0;
}

.ev-card-content {
    &.is-size-small {
        padding: var(--padding-small);
    }

    &.is-size-medium {
        padding: var(--padding-medium);

        .ev-card-content--icon {
            padding-top: tools.scalable(0rem, 0.125rem);
        }
    }

    &.is-size-large {
        padding: var(--padding-large);

        .ev-card-content--icon {
            padding-top: tools.scalable(0rem, 0.25rem);
        }
    }

    &.is-size-x-large {
        padding: var(--padding-x-large);

        .ev-card-content--icon {
            padding-top: tools.scalable(0.125rem, 0.5rem);
        }
    }
}