.ev-data-table {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ev-data-table--wrapper {
    overflow: auto;
    flex: 1;

    > table {
        width: 100%;
        border-collapse: collapse;
    }
}

.ev-data-table--empty {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: auto;
}

.ev-data-table--thead {
    position: sticky;
    top: 0;
    z-index: 1;

    th {
        box-shadow: inset 0 -1px 0 var(--stroke);
        background-color: var(--current-surface-fill);
    }
}

/**
    # Checkbox

    The width of the checkbox should be the width of the checkbox control
    plus twice the padding-inline of `.ev-data-table-search`.
    The resulting value should match the height of `.ev-data-table-search`.
 */
.ev-data-table-cell--checkbox {
    padding-block: 0 !important;
    padding-inline: var(--spacer-100) !important;
    width: 56px;
}