.ev-data-table {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.ev-data-table--wrapper {
    overflow: auto;
    flex: 1;
}

.ev-data-table--native {
    width: 100%;
    border-spacing: 0 2px;
    border-collapse: separate;
    padding: 2px;
    table-layout: fixed;
}

.ev-data-table--empty {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: auto;
}

.ev-data-table--thead {
    position: sticky;
    top: 0;
    z-index: 1;

    th {
        box-shadow: inset 0 -1px 0 var(--stroke);
        background-color: var(--current-surface-fill);
    }
}