@use "@/css/mixins";

.ev-card {
    display: block;
    font-weight: inherit;
    overflow: hidden;
    position: relative;
    z-index: 0;
    color: inherit !important;
    text-decoration: none !important;

    &.is-clickable {
        &:focus-visible {
            outline: 2px solid var(--border-focused);
            outline-offset: 2px;
        }
    }
}

.ev-card--underlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: inherit;
    z-index: -1;
}

.ev-card {
    @include mixins.generate-appearances(card, true);

    .ev-card--underlay {
        background: var(--card-appearance-background);
        border: var(--card-appearance-border);
        transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
    }
}

/**
    ## Disabled
 */
.ev-card {
    &[disabled],
    &.is-disabled {
        @include mixins.is-disabled;
    }
}