
.ev-number-field--minus {
    margin-left: -0.5rem;
}

.ev-number-field--plus {
    margin-right: -0.5rem;
}

.ev-number-field--currency {
    display: flex;
    align-items: center;
    font-size: var(--input-font-size);
}