.ev-expansion-panel-header {
    cursor: pointer;
    display: grid;
    grid-template-areas: "icon-start prefix title suffix actions caret";
    grid-template-columns: minmax(0, auto) minmax(0, auto) 1fr minmax(0, auto) minmax(0, auto) minmax(0, auto);
    grid-template-rows: 1fr;
    align-items: center;
    border-radius: inherit;
    padding: 0.5rem;
}

.ev-expansion-panel-header__button {
    display: grid;
    grid-column: 1/-1;
    grid-row: 1;
    align-items: center;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    padding: 0.5rem;
    margin: -0.5rem;
    cursor: pointer;
    background: var(--fill-neutral-subtle);
    border: none;
    color: inherit;
    font: inherit;
    text-align: start;
    border-radius: inherit;
    transition: background-color 0.25s var(--easing-standard);

    &:hover,
    &:focus-visible {
        background: var(--fill-neutral-subtle-hovered);
        outline: 0;
    }
}

.ev-expansion-panel-header__icon {
    grid-area: icon-start;
}

.ev-expansion-panel-header__title {
    grid-area: title;
    display: flex;
    min-width: 0;
    padding-inline: 0.5rem;
}

.ev-expansion-panel-header__caret {
    grid-area: caret;
}

.ev-expansion-panel-header__icon,
.ev-expansion-panel-header__caret {
    display: inline-flex;
    width: 2.25rem;
    height: 2.25rem;
    align-items: center;
    justify-content: center;
}

.ev-expansion-panel-header__prefix {
    grid-area: prefix;
    min-width: 0;
}

.ev-expansion-panel-header__suffix {
    grid-area: suffix;
    min-width: 0;
}

.ev-expansion-panel-header__actions {
    grid-area: actions;
}

.ev-expansion-panel-header {
    &.is-actions-on-hover {
        .is-show-on-hover {
            display: none;
        }
        &:hover,
        &:focus-within {
            .ev-expansion-panel-header__suffix{
                display: none;
            }
            .is-show-on-hover {
                display: inline-flex;
            }
        }
    }
}
