/**
    # Custom scrollbars

    This is for the benefit of webkit browsers because we just don't like
    the standard rendering of scrollbars.
 */
body ::-webkit-scrollbar
{
    width: 0.75rem;
    display: block;
}

body ::-webkit-scrollbar-corner
{
    display: none;
}

body ::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding-top: 100px;
    border-radius: 8px;
    margin-right: 3px;
    border: 3px solid transparent;
    background-clip: padding-box;
    background-color: var(--scrollbar-thumb);
    transition: background-color 0.25s ease-in-out;
}

body ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover) !important;
}

body ::-webkit-scrollbar-track {
    border-left: 6px solid transparent;
    border-right: 1px solid transparent;
    background-clip: padding-box;
}

body ::-webkit-scrollbar:hover{
    background-color: transparent;
    box-shadow: none;
}


/**
    # Is Scrollable

    Scrollable content in three flavours:
    1. `is-scrollable` auto scroll in both x-axis and y-axis
    2. `is-scrollable-x` auto scroll only in the x-axis.
    3. `is-scrollable-y` auto scroll only in the y-axis.
 */
.is-scrollable {
    overflow: auto !important;

    &-x {
        overflow: hidden;
        overflow-x: auto !important;
    }
    &-y {
        overflow: hidden;
        overflow-y: auto !important;
    }

    &,
    &-x,
    &-y {
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: var(--scrollbar-thumb);
            }
        }
    }
}

/**
    # Is Overflow hidden / visible

    There are only two flavours at the moment:
    1. `is-overflow-hidden`
    2. `is-overflow-visible`
 */
.is-overflow {
    &-hidden {
        overflow: hidden !important;
    }
    &-visible {
        overflow: visible !important;
    }
}