html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow: auto;
}

.ev-theme, body {
    background-color: var(--current-surface-fill);
    color: var(--text-default);
}


/**
    # Custom scrollbars

    This is for the benefit of webkit browsers because we just don't like
    the standard rendering of scrollbars.
 */
::-webkit-scrollbar
{
    width: 0.75rem;
    display: block;
}

::-webkit-scrollbar-corner
{
    display: none;
}

::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding-top: 100px;
    border-radius: 8px;
    margin-right: 3px;
    border: 3px solid transparent;
    background-clip: padding-box;
    background-color: var(--scrollbar-thumb);
    transition: background-color 0.25s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover) !important;
}

::-webkit-scrollbar-track {
    border-left: 6px solid transparent;
    border-right: 1px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar:hover{
    background-color: transparent;
    box-shadow: none;
}

/**
    # Is Clickable
 */
.is-clickable {
    cursor: pointer;
}

/**
    # Is Scrollable

    Scrollable content in three flavours:
    1. `is-scrollable` auto scroll in both x-axis and y-axis
    2. `is-scrollable-x` auto scroll only in the x-axis.
    3. `is-scrollable-y` auto scroll only in the y-axis.
 */
.is-scrollable {
    overflow: auto !important;

    &-x {
        overflow: hidden;
        overflow-x: auto !important;
    }
    &-y {
        overflow: hidden;
        overflow-y: auto !important;
    }

    &,
    &-x,
    &-y {
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: var(--scrollbar-thumb);
            }
        }
    }
}

/**
    # Is Overflow hidden / visible

    There are only two flavours at the moment:
    1. `is-overflow-hidden`
    2. `is-overflow-visible`
 */
.is-overflow {
    &-hidden {
        overflow: hidden !important;
    }
    &-visible {
        overflow: visible !important;
    }
}


/**
    Rounded
 */
.is-rounded-0 {
    border-radius: 0 !important;
}
.is-rounded-x-small {
    border-radius: var(--rounded-x-small) !important;
}
.is-rounded-small {
    border-radius: var(--rounded-small) !important;
}
.is-rounded-medium {
    border-radius: var(--rounded-medium) !important;
}
.is-rounded-large {
    border-radius: var(--rounded-large) !important;
}
.is-rounded-x-large {
    border-radius: var(--rounded-x-large) !important;
}
.is-rounded-circle {
    border-radius: var(--rounded-circle) !important;
}
.is-rounded-pill {
    border-radius: var(--rounded-pill) !important;
}


.is-actions-on-hover {
    .is-show-on-hover {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }
    &:hover,
    &:has(:focus-visible) {
        .is-hide-on-hover {
            display: none;
        }
        .is-show-on-hover {
            position: relative;
            opacity: 1;
            pointer-events: auto;
        }
    }
}
