@use 'sass:map' as map;
@use "./settings" as settings;

/*
  # Theme Colours

  There are effectively three themes:
  1. OS default (.ev-theme-os)
  2. Light Theme (.ev-theme-light)
  3. Dark Theme (.ev-theme-dark)

  Note that the `.ev-theme-os` may be applied, but
  has no explicit CSS classes and relies on @media
  `prefers-color-scheme` rule.

  Important: when maintaining theme variables,
  the variables in `light-theme` and `dark-theme`
  MUST match.

  Light Theme
  ---
  Defining the `light-theme` mixin allows us to
  include the appropriate variables under both the
  `.ev-theme-light` class and for OS default = `light`.
 */
@mixin light-theme {

    /* General */
    --color-primary: #814EFA;

    /* Surfaces */
    --surface-default: #{settings.token('neutral.100')};
    --surface-overlay: #{settings.token('neutral.0')};
    --surface-overlay-shadow: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
    --surface-panel: #{settings.token('neutral.0')};
    --surface-sunken: #{settings.token('neutral.200')};

    /* Backgrounds fills */
    --fill-brand: #{settings.token('purple.200A')};
    --fill-brand-hovered: #{settings.token('purple.300A')};
    --fill-brand-pressed: #{settings.token('purple.400A')};
    --fill-brand-bold: #{settings.token('purple.600')};
    --fill-brand-bold-hovered: #{settings.token('purple.700')};
    --fill-brand-bold-pressed: #{settings.token('purple.800')};
    --fill-danger: #{settings.token('red.200A')};
    --fill-danger-hovered: #{settings.token('red.300A')};
    --fill-danger-pressed: #{settings.token('red.400A')};
    --fill-danger-bold: #{settings.token('red.600')};
    --fill-danger-bold-hovered: #{settings.token('red.700')};
    --fill-danger-bold-pressed: #{settings.token('red.800')};
    --fill-information: #{settings.token('blue.200A')};
    --fill-information-hovered: #{settings.token('blue.300A')};
    --fill-information-pressed: #{settings.token('blue.400A')};
    --fill-information-bold: #{settings.token('blue.600')};
    --fill-information-bold-hovered: #{settings.token('blue.700')};
    --fill-information-bold-pressed: #{settings.token('blue.800')};
    --fill-neutral: #{settings.token('neutral.200A')};
    --fill-neutral-hovered: #{settings.token('neutral.300A')};
    --fill-neutral-pressed: #{settings.token('neutral.400A')};
    --fill-neutral-bold: #{settings.token('neutral.500')};
    --fill-neutral-bold-hovered: #{settings.token('neutral.600')};
    --fill-neutral-bold-pressed: #{settings.token('neutral.700')};
    --fill-neutral-subtle: transparent;
    --fill-neutral-subtle-hovered: #{settings.token('neutral.200A')};
    --fill-neutral-subtle-pressed: #{settings.token('neutral.300A')};
    --fill-notice: #{settings.token('purple.200A')};
    --fill-notice-hovered: #{settings.token('purple.300A')};
    --fill-notice-pressed: #{settings.token('purple.400A')};
    --fill-notice-bold: #{settings.token('purple.600')};
    --fill-notice-bold-hovered: #{settings.token('purple.700')};
    --fill-notice-bold-pressed: #{settings.token('purple.800')};
    --fill-selected: #{settings.token('purple.200A')};
    --fill-selected-hovered: #{settings.token('purple.300A')};
    --fill-selected-pressed: #{settings.token('purple.400A')};
    --fill-selected-bold: #{settings.token('purple.600')};
    --fill-selected-bold-hovered: #{settings.token('purple.700')};
    --fill-selected-bold-pressed: #{settings.token('purple.800')};
    --fill-success: #{settings.token('green.200A')};
    --fill-success-hovered: #{settings.token('green.300A')};
    --fill-success-pressed: #{settings.token('green.400A')};
    --fill-success-bold: #{settings.token('green.600')};
    --fill-success-bold-hovered: #{settings.token('green.700')};
    --fill-success-bold-pressed: #{settings.token('green.800')};
    --fill-warning: #{settings.token('orange.200A')};
    --fill-warning-hovered: #{settings.token('orange.300A')};
    --fill-warning-pressed: #{settings.token('orange.400A')};
    --fill-warning-bold: #{settings.token('orange.600')};
    --fill-warning-bold-hovered: #{settings.token('orange.700')};
    --fill-warning-bold-pressed: #{settings.token('orange.800')};
    --fill-veil: #{settings.token('neutral.500A')};
    --fill-inverse: #{settings.token('neutral.500A')};
    --fill-inverse-hovered: #{settings.token('dark-neutral.100')};
    --fill-inverse-pressed: #{settings.token('dark-neutral.200')};
    --fill-inverse-bold: #{settings.token('dark-neutral.0')};
    --fill-inverse-bold-hovered: #{settings.token('dark-neutral.100')};
    --fill-inverse-bold-pressed: #{settings.token('dark-neutral.200')};

    /* Text */
    --eyebrow-default: #{settings.token('neutral.700')};
    --heading-default: #{settings.token('neutral.1100')};
    --heading-on-brand: #212945;
    --heading-on-brand-bold: #FFFFFF;
    --heading-on-danger: #212945;
    --heading-on-danger-bold: #FFFFFF;
    --heading-on-information: #212945;
    --heading-on-information-bold: #FFFFFF;
    --heading-on-muted: #212945;
    --heading-on-muted-bold: #FFFFFF;
    --heading-on-notice: #212945;
    --heading-on-notice-bold: #FFFFFF;
    --heading-on-success: #212945;
    --heading-on-success-bold: #FFFFFF;
    --heading-on-warning: #212945;
    --heading-on-warning-bold: #FFFFFF;


    --text-default: #{settings.token('neutral.900')};
    --text-brand: #{settings.token('purple.700')};
    --text-on-brand: #5D6788;
    --text-on-brand-bold: #F3F5F9;
    --text-subtle: #{settings.token('neutral.700')};
    --text-danger: #{settings.token('red.700')};
    --text-on-danger: #5D6788;
    --text-on-danger-bold: #F3F5F9;
    --text-information: #{settings.token('blue.700')};
    --text-on-information: #5D6788;
    --text-on-information-bold: #F3F5F9;
    --text-muted: #747794;
    --text-on-muted: #5D6788;
    --text-on-muted-bold: #F3F5F9;
    --text-notice: #{settings.token('purple.700')};
    --text-on-notice: #5D6788;
    --text-on-notice-bold: #F3F5F9;
    --text-selected: #{settings.token('purple.700')};
    --text-success: #{settings.token('green.700')};
    --text-on-success: #5D6788;
    --text-on-success-bold: #F3F5F9;
    --text-warning: #{settings.token('orange.700')};
    --text-on-warning: #5D6788;
    --text-on-warning-bold: #F3F5F9;
    --text-inverse: #{settings.token('neutral.100')};
    --link-default: #{settings.token('purple.600')};
    --link-hovered: #{settings.token('purple.500')};
    --link-visited: #{settings.token('purple.800')};

    /* Border strokes */
    --stroke: #{settings.token('neutral.300A')};
    --stroke-danger: #{settings.token('red.600')};
    --stroke-focused: #{settings.token('purple.600')};
    --stroke-input: #{settings.token('neutral.300A')};
    --stroke-muted: #091E4226;
    --stroke-selected: #{settings.token('purple.600')};
    --stroke-success: #{settings.token('green.600')};

    /* Input */
    --input-background: transparent;
    --input-shadow-error: 0 0 0 5px rgba(240,65,65,0.1), 0 0 0 1px rgba(240,65,65,0.75);
    --input-shadow-focus: 0 0 0 5px rgba(129,78,250,0.1), 0 0 0 1px rgba(129,78,250,0.75);
    --input-focus-background: var(--fill-brand);

    /* Scrollbars */
    --scrollbar-thumb: #5D678846;
    --scrollbar-thumb-hover: #5D6788;

    /* Skeleton */
    --skeleton-background: #{settings.token('neutral.300A')};
    --skeleton-animation-background: rgba(255, 255, 255, 0.4);

    /* Tooltips */
    --tooltip-color: #F3F5F9;
    --tooltip-background: #696d88;
    --tooltip-shadow: none;
}


/*
  Dark Theme
  ---
  Defining the `dark-theme` mixin allows us to
  include the appropriate variables under both the
  `.ev-theme-dark` class and for OS default = `dark`.
 */
@mixin dark-theme {

    /* General */
    --color-primary: #9772FF;

    /* Surfaces */
    --surface-default: #{settings.token('dark-neutral.100')};
    --surface-overlay: #{settings.token('dark-neutral.300')};
    --surface-overlay-shadow: 0px 8px 12px #0304045C, 0px 0px 1px #03040480;
    --surface-panel: #{settings.token('dark-neutral.200')};
    --surface-sunken: #{settings.token('dark-neutral.0')};

    /* Backgrounds */
    --fill-brand: #{settings.token('purple.200A')};
    --fill-brand-hovered: #{settings.token('purple.300A')};
    --fill-brand-pressed: #{settings.token('purple.400A')};
    --fill-brand-bold: #{settings.token('purple.500')};
    --fill-brand-bold-hovered: #{settings.token('purple.400')};
    --fill-brand-bold-pressed: #{settings.token('purple.300')};
    --fill-danger: #{settings.token('red.200A')};
    --fill-danger-hovered: #{settings.token('red.300A')};
    --fill-danger-pressed: #{settings.token('red.400A')};
    --fill-danger-bold: #{settings.token('red.500')};
    --fill-danger-bold-hovered: #{settings.token('red.400')};
    --fill-danger-bold-pressed: #{settings.token('red.300')};
    --fill-information: #{settings.token('blue.200A')};
    --fill-information-hovered: #{settings.token('blue.300A')};
    --fill-information-pressed: #{settings.token('blue.400A')};
    --fill-information-bold: #{settings.token('blue.500')};
    --fill-information-bold-hovered: #{settings.token('blue.400')};
    --fill-information-bold-pressed: #{settings.token('blue.300')};
    --fill-neutral: #{settings.token('dark-neutral.200A')};
    --fill-neutral-hovered: #{settings.token('dark-neutral.300A')};
    --fill-neutral-pressed: #{settings.token('dark-neutral.400A')};
    --fill-neutral-bold: #{settings.token('dark-neutral.500')};
    --fill-neutral-bold-hovered: #{settings.token('dark-neutral.600')};
    --fill-neutral-bold-pressed: #{settings.token('dark-neutral.700')};
    --fill-neutral-subtle: transparent;
    --fill-neutral-subtle-hovered: #{settings.token('dark-neutral.200A')};
    --fill-neutral-subtle-pressed: #{settings.token('dark-neutral.300A')};
    --fill-notice: #{settings.token('purple.200A')};
    --fill-notice-hovered: #{settings.token('purple.300A')};
    --fill-notice-pressed: #{settings.token('purple.400A')};
    --fill-notice-bold: #{settings.token('purple.500')};
    --fill-notice-bold-hovered: #{settings.token('purple.400')};
    --fill-notice-bold-pressed: #{settings.token('purple.300')};
    --fill-selected: #{settings.token('purple.200A')};
    --fill-selected-hovered: #{settings.token('purple.300A')};
    --fill-selected-pressed: #{settings.token('purple.400A')};
    --fill-selected-bold: #{settings.token('purple.500')};
    --fill-selected-bold-hovered: #{settings.token('purple.400')};
    --fill-selected-bold-pressed: #{settings.token('purple.300')};
    --fill-success: #{settings.token('green.200A')};
    --fill-success-hovered: #{settings.token('green.300A')};
    --fill-success-pressed: #{settings.token('green.400A')};
    --fill-success-bold: #{settings.token('green.400')};
    --fill-success-bold-hovered: #{settings.token('green.300')};
    --fill-success-bold-pressed: #{settings.token('green.200')};
    --fill-warning: #{settings.token('orange.200A')};
    --fill-warning-hovered: #{settings.token('orange.300A')};
    --fill-warning-pressed: #{settings.token('orange.400A')};
    --fill-warning-bold: #{settings.token('orange.400')};
    --fill-warning-bold-hovered: #{settings.token('orange.300')};
    --fill-warning-bold-pressed: #{settings.token('orange.200')};
    --fill-veil: #0C0C1399;
    --fill-inverse: #{settings.token('dark-neutral.500A')};
    --fill-inverse-hovered: #{settings.token('neutral.100')};
    --fill-inverse-pressed: #{settings.token('neutral.200')};
    --fill-inverse-bold: #{settings.token('neutral.0')};
    --fill-inverse-bold-hovered: #{settings.token('neutral.100')};
    --fill-inverse-bold-pressed: #{settings.token('neutral.200')};

    /* Text */
    --eyebrow-default: #{settings.token('dark-neutral.700')};
    --heading-default: #{settings.token('dark-neutral.1100')};
    --heading-on-brand: #d2cce5;
    --heading-on-brand-bold: #181724;
    --heading-on-danger: #ead7df;
    --heading-on-danger-bold: #181724;
    --heading-on-information: #c8d3e9;
    --heading-on-information-bold: #181724;
    --heading-on-muted: #C4CBE3;
    --heading-on-muted-bold: #FFFFFF;
    --heading-on-notice: #d2cce5;
    --heading-on-notice-bold: #181724;
    --heading-on-success: #d2e5e9;
    --heading-on-success-bold: #181724;
    --heading-on-warning: #e7e2d9;
    --heading-on-warning-bold: #181724;

    --text-default: #{settings.token('dark-neutral.900')};
    --text-brand: #{settings.token('purple.400')};
    --text-on-brand: #a59dc3;
    --text-on-brand-bold: #181724;
    --text-subtle: #{settings.token('dark-neutral.700')};
    --text-danger: #{settings.token('red.400')};
    --text-on-danger: #cda2b4;
    --text-on-danger-bold: #181724;
    --text-information: #{settings.token('blue.400')};
    --text-on-information: #8f9dbc;
    --text-on-information-bold: #181724;
    --text-muted: #8386A5;
    --text-on-muted: #7781A2;
    --text-on-muted-bold: #e4e2fe;
    --text-notice: #{settings.token('purple.400')};
    --text-on-notice: #a59dc3;
    --text-on-notice-bold: #181724;
    --text-selected: #{settings.token('purple.400')};
    --text-success: #{settings.token('green.400')};
    --text-on-success: #98c3cd;
    --text-on-success-bold: #181724;
    --text-warning: #{settings.token('orange.400')};
    --text-on-warning: #baa991;
    --text-on-warning-bold: #181724;
    --link-default: #{settings.token('purple.400')};
    --link-hovered: #{settings.token('purple.500')};
    --link-visited: #{settings.token('purple.600')};
    --text-inverse: #{settings.token('dark-neutral.100')};

    /* Borders */
    --stroke: #{settings.token('dark-neutral.300A')};
    --stroke-danger: #{settings.token('red.500')};
    --stroke-focused: #{settings.token('purple.500')};
    --stroke-input: #{settings.token('dark-neutral.400A')};
    --stroke-muted: #BCD6F01F;
    --stroke-selected: #{settings.token('purple.500')};
    --stroke-success: #{settings.token('green.500')};

    /* Input */
    --input-background: transparent;
    --input-shadow-error: 0 0 0 5px rgba(255,97,97,0.1), 0 0 0 1px rgba(255,97,97,0.75);
    --input-shadow-focus: 0 0 0 5px rgba(129,78,250,0.1), 0 0 0 1px rgba(129,78,250,0.75);
    --input-focus-background: var(--fill-brand);

    /* Scrollbars */
    --scrollbar-thumb: #A0A6BC46;
    --scrollbar-thumb-hover: #A0A6BC;

    /* Skeleton */
    --skeleton-background: #{settings.token('dark-neutral.300A')};
    --skeleton-animation-background: rgba(255, 255, 255, 0.075);

    /* Tooltips */
    --tooltip-color: #bec6d4;
    --tooltip-background: #{settings.token('dark-neutral.400')};
    --tooltip-shadow: none;
}


/*
  Theme application
  ---
  Apply the mixins above as appropriate.
  Do not add variables below.
 */

@media (prefers-color-scheme: light) {
    :root {
        @include light-theme;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-theme;
    }
}

.ev-theme-light {
    @include light-theme;

    color: var(--text-default);
}

.ev-theme-dark {
    @include dark-theme;

    color: var(--text-default);
}