@use 'sass:map' as map;
@use "./settings" as settings;

/*
  # Theme Colours

  There are effectively three themes:
  1. OS default (.ev-theme-os)
  2. Light Theme (.ev-theme-light)
  3. Dark Theme (.ev-theme-dark)

  Note that the `.ev-theme-os` may be applied, but
  has no explicit CSS classes and relies on @media
  `prefers-color-scheme` rule.

  Important: when maintaining theme variables,
  the variables in `light-theme` and `dark-theme`
  MUST match.

  Light Theme
  ---
  Defining the `light-theme` mixin allows us to
  include the appropriate variables under both the
  `.ev-theme-light` class and for OS default = `light`.
 */
@mixin light-theme {

    /* General */
    --color-primary: #814EFA;

    /* Surfaces */
    --surface-default: #{settings.token('neutral-100')};
    --surface-overlay: #{settings.token('neutral-0')};
    --surface-overlay-shadow: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
    --surface-panel: #{settings.token('neutral-0')};
    --surface-sunken: #{settings.token('neutral-200')};

    /* Backgrounds */
    --background-brand: #{settings.token('purple-200A')};
    --background-brand-hovered: #{settings.token('purple-300A')};
    --background-brand-pressed: #{settings.token('purple-400A')};
    --background-brand-bold: #{settings.token('purple-600')};
    --background-brand-bold-hovered: #{settings.token('purple-700')};
    --background-brand-bold-pressed: #{settings.token('purple-800')};
    --background-danger: #{settings.token('red-200A')};
    --background-danger-hovered: #{settings.token('red-300A')};
    --background-danger-pressed: #{settings.token('red-400A')};
    --background-danger-bold: #{settings.token('red-600')};
    --background-danger-bold-hovered: #{settings.token('red-700')};
    --background-danger-bold-pressed: #{settings.token('red-800')};
    --background-information: #{settings.token('blue-200A')};
    --background-information-hovered: #{settings.token('blue-300A')};
    --background-information-pressed: #{settings.token('blue-400A')};
    --background-information-bold: #{settings.token('blue-600')};
    --background-information-bold-hovered: #{settings.token('blue-700')};
    --background-information-bold-pressed: #{settings.token('blue-800')};
    --background-neutral: #{settings.token('neutral-200A')};
    --background-neutral-hovered: #{settings.token('neutral-300A')};
    --background-neutral-pressed: #{settings.token('neutral-400A')};
    --background-neutral-bold: #{settings.token('neutral-500')};
    --background-neutral-bold-hovered: #{settings.token('neutral-600')};
    --background-neutral-bold-pressed: #{settings.token('neutral-700')};
    --background-neutral-subtle: transparent;
    --background-neutral-subtle-hovered: #{settings.token('neutral-200A')};
    --background-neutral-subtle-pressed: #{settings.token('neutral-300A')};
    --background-notice: #{settings.token('purple-200A')};
    --background-notice-hovered: #{settings.token('purple-300A')};
    --background-notice-pressed: #{settings.token('purple-400A')};
    --background-notice-bold: #{settings.token('purple-600')};
    --background-notice-bold-hovered: #{settings.token('purple-700')};
    --background-notice-bold-pressed: #{settings.token('purple-800')};
    --background-selected: #{settings.token('purple-200A')};
    --background-selected-hovered: #{settings.token('purple-300A')};
    --background-selected-pressed: #{settings.token('purple-400A')};
    --background-selected-bold: #{settings.token('purple-600')};
    --background-selected-bold-hovered: #{settings.token('purple-700')};
    --background-selected-bold-pressed: #{settings.token('purple-800')};
    --background-success: #{settings.token('green-200A')};
    --background-success-hovered: #{settings.token('green-300A')};
    --background-success-pressed: #{settings.token('green-400A')};
    --background-success-bold: #{settings.token('green-600')};
    --background-success-bold-hovered: #{settings.token('green-700')};
    --background-success-bold-pressed: #{settings.token('green-800')};
    --background-warning: #{settings.token('orange-200A')};
    --background-warning-hovered: #{settings.token('orange-300A')};
    --background-warning-pressed: #{settings.token('orange-400A')};
    --background-warning-bold: #{settings.token('orange-600')};
    --background-warning-bold-hovered: #{settings.token('orange-700')};
    --background-warning-bold-pressed: #{settings.token('orange-800')};
    --background-veil: #0A14337D;
    --background-inverse: #EFF2F926;
    --background-inverse-hovered: #EFF2F940;
    --background-inverse-pressed: #EFF2F966;
    --background-inverse-bold: #EFF2F9CC;
    --background-inverse-bold-hovered: #EFF2F9E6;
    --background-inverse-bold-pressed: #EFF2F9;

    /* Text */
    --eyebrow-default: #{settings.token('neutral-700')};
    --heading-default: #{settings.token('neutral-1100')};
    --heading-on-brand: #212945;
    --heading-on-brand-bold: #FFFFFF;
    --heading-on-danger: #212945;
    --heading-on-danger-bold: #FFFFFF;
    --heading-on-information: #212945;
    --heading-on-information-bold: #FFFFFF;
    --heading-on-muted: #212945;
    --heading-on-muted-bold: #FFFFFF;
    --heading-on-notice: #212945;
    --heading-on-notice-bold: #FFFFFF;
    --heading-on-success: #212945;
    --heading-on-success-bold: #FFFFFF;
    --heading-on-warning: #212945;
    --heading-on-warning-bold: #FFFFFF;


    --text-default: #{settings.token('neutral-900')};
    --text-brand: #{settings.token('purple-600')};
    --text-on-brand: #5D6788;
    --text-on-brand-bold: #F3F5F9;
    --text-subtle: #{settings.token('neutral-700')};
    --text-danger: #{settings.token('red-700')};
    --text-on-danger: #5D6788;
    --text-on-danger-bold: #F3F5F9;
    --text-information: #{settings.token('blue-700')};
    --text-on-information: #5D6788;
    --text-on-information-bold: #F3F5F9;
    --text-muted: #747794;
    --text-on-muted: #5D6788;
    --text-on-muted-bold: #F3F5F9;
    --text-notice: #{settings.token('purple-700')};
    --text-on-notice: #5D6788;
    --text-on-notice-bold: #F3F5F9;
    --text-selected: #{settings.token('purple-700')};
    --text-success: #{settings.token('green-700')};
    --text-on-success: #5D6788;
    --text-on-success-bold: #F3F5F9;
    --text-warning: #{settings.token('orange-700')};
    --text-on-warning: #5D6788;
    --text-on-warning-bold: #F3F5F9;
    --text-inverse: #{settings.token('neutral-100')};
    --text-on-inverse: #535A74;
    --link-default: #{settings.token('purple-600')};
    --link-default-hover: #{settings.token('purple-500')};
    --link-default-pressed: #{settings.token('purple-700')};
    --link-default-visited: #{settings.token('purple-800')};

    /* Borders */
    --border: #{settings.token('neutral-300A')};
    --border-danger: #{settings.token('red-600')};
    --border-focused: #{settings.token('purple-600')};
    --border-input: #{settings.token('neutral-300A')};
    --border-muted: #091E4226;
    --border-selected: #{settings.token('purple-600')};
    --border-success: #{settings.token('green-600')};

    /* Input */
    --input-background: transparent;
    --input-border-color: #C4C5D4;
    --input-border-color-error: #F04141;
    --input-border-color-focus: #814EFA;
    --input-shadow-error: 0 0 0 5px rgba(240,65,65,0.1), 0 0 0 1px rgba(240,65,65,0.75);
    --input-shadow-focus: 0 0 0 5px rgba(129,78,250,0.1), 0 0 0 1px rgba(129,78,250,0.75);

    /* Scrollbars */
    --scrollbar-thumb: #5D678846;
    --scrollbar-thumb-hover: #5D6788;

    /* Tooltips */
    --tooltip-color: #F3F5F9;
    --tooltip-background: #696d88;
    --tooltip-shadow: none;
}


/*
  Dark Theme
  ---
  Defining the `dark-theme` mixin allows us to
  include the appropriate variables under both the
  `.ev-theme-dark` class and for OS default = `dark`.
 */
@mixin dark-theme {

    /* General */
    --color-primary: #9772FF;

    /* Surfaces */
    --surface-default: #131321;
    --surface-overlay: #1F1F31;
    --surface-overlay-shadow: inset 0px 0px 0px 1px #BCD6F01F, 0px 8px 12px #0304045C, 0px 0px 1px #03040480;
    --surface-panel: #191929;
    --surface-sunken: #0B0B14;

    /* Backgrounds */
    --background-brand: #7C4EFA26;
    --background-brand-hovered: #7C4EFA40;
    --background-brand-pressed: #7C4EFA54;
    --background-brand-bold: #9873FF;
    --background-brand-bold-hovered: #AF93FD;
    --background-brand-bold-pressed: #C3AEFD;
    --background-danger: #F0414126;
    --background-danger-hovered: #F0414140;
    --background-danger-pressed: #F0414154;
    --background-danger-bold: #F36767;
    --background-danger-bold-hovered: #F58080;
    --background-danger-bold-pressed: #F8A8A8;
    --background-information: #2A63EA26;
    --background-information-hovered: #2A63EA40;
    --background-information-pressed: #2A63EA54;
    --background-information-bold: #5583EE;
    --background-information-bold-hovered: #7097F1;
    --background-information-bold-pressed: #9DB7F5;
    --background-neutral: #A3A7CC14;
    --background-neutral-hovered: #A3A7CC29;
    --background-neutral-pressed: #A3A7CC47;
    --background-neutral-bold: #4D5166;
    --background-neutral-bold-hovered: #656D88;
    --background-neutral-bold-pressed: #848DAA;
    --background-neutral-subtle: transparent;
    --background-neutral-subtle-hovered: #A3A7CC14;
    --background-neutral-subtle-pressed: #A3A7CC29;
    --background-notice: #7C4EFA26;
    --background-notice-hovered: #7C4EFA40;
    --background-notice-pressed: #7C4EFA54;
    --background-notice-bold: #9873FF;
    --background-notice-bold-hovered: #AF93FD;
    --background-notice-bold-pressed: #C3AEFD;
    --background-selected: #7C4EFA26;
    --background-selected-hovered: #7C4EFA40;
    --background-selected-pressed: #7C4EFA54;
    --background-selected-bold: #9873FF;
    --background-selected-bold-hovered: #AF93FD;
    --background-selected-bold-pressed: #C3AEFD;
    --background-success: #13AE8426;
    --background-success-hovered: #13AE8440;
    --background-success-pressed: #13AE8454;
    --background-success-bold: #61C9AD;
    --background-success-bold-hovered: #92DAC6;
    --background-success-bold-pressed: #B6E6D9;
    --background-warning: #FF8C2126;
    --background-warning-hovered: #FF8C2140;
    --background-warning-pressed: #FF8C2154;
    --background-warning-bold: #FFB26A;
    --background-warning-bold-hovered: #FFCA99;
    --background-warning-bold-pressed: #FFDBBA;
    --background-veil: #0B0B1499;
    --background-inverse: #0B0B1426;
    --background-inverse-hovered: #0B0B1440;
    --background-inverse-pressed: #0B0B1466;
    --background-inverse-bold: #131321CC;
    --background-inverse-bold-hovered: #131321E6;
    --background-inverse-bold-pressed: #131321;

    /* Text */
    --eyebrow-default: #7B829A;
    --heading-default: #C4CBE3;
    --heading-on-brand: #d2cce5;
    --heading-on-brand-bold: #181724;
    --heading-on-danger: #ead7df;
    --heading-on-danger-bold: #181724;
    --heading-on-information: #c8d3e9;
    --heading-on-information-bold: #181724;
    --heading-on-muted: #C4CBE3;
    --heading-on-muted-bold: #FFFFFF;
    --heading-on-notice: #d2cce5;
    --heading-on-notice-bold: #181724;
    --heading-on-success: #d2e5e9;
    --heading-on-success-bold: #181724;
    --heading-on-warning: #e7e2d9;
    --heading-on-warning-bold: #181724;

    --text-default: #A0A6BC;
    --text-brand: #AF93FD;
    --text-on-brand: #a59dc3;
    --text-on-brand-bold: #181724;
    --text-subtle: #61647E;
    --text-danger: #FF6161;
    --text-on-danger: #cda2b4;
    --text-on-danger-bold: #181724;
    --text-information: #5BA7FF;
    --text-on-information: #8f9dbc;
    --text-on-information-bold: #181724;
    --text-muted: #8386A5;
    --text-on-muted: #7781A2;
    --text-on-muted-bold: #e4e2fe;
    --text-notice: #AA86FF;
    --text-on-notice: #a59dc3;
    --text-on-notice-bold: #181724;
    --text-selected: #AA86FF;
    --text-success: #2AC299;
    --text-on-success: #98c3cd;
    --text-on-success-bold: #181724;
    --text-warning: #FFA34F;
    --text-on-warning: #baa991;
    --text-on-warning-bold: #181724;
    --link-default: #AA86FF;
    --link-default-hover: #9772FF;
    --text-inverse: #131321;
    --text-on-inverse: #A0A6BC;

    /* Borders */
    --border: #A3A7CC29;
    --border-danger: #F36767;
    --border-focused: #9873FF;
    --border-input: #A3A7CC29;
    --border-muted: #BCD6F01F;
    --border-selected: #9873FF;
    --border-success: #2BC29A;

    /* Input */
    --input-background: transparent;
    --input-border-color: #3D3E52;
    --input-border-color-error: #FF6161;
    --input-border-color-focus: #AA86FF;
    --input-shadow-error: 0 0 0 5px rgba(255,97,97,0.1), 0 0 0 1px rgba(255,97,97,0.75);
    --input-shadow-focus: 0 0 0 5px rgba(129,78,250,0.1), 0 0 0 1px rgba(129,78,250,0.75);
    --input-focus-background: #814EFA26;

    /* Scrollbars */
    --scrollbar-thumb: #A0A6BC46;
    --scrollbar-thumb-hover: #A0A6BC;

    /* Tooltips */
    --tooltip-color: #bec6d4;
    --tooltip-background: #3c4054;
    --tooltip-shadow: none;
}


/*
  Theme application
  ---
  Apply the mixins above as appropriate.
  Do not add variables below.
 */

@media (prefers-color-scheme: light) {
    :root {
        @include light-theme;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-theme;
    }
}

:root,
.ev-theme-light {
    @include light-theme;
}

.ev-theme-dark {
    @include dark-theme;
}