

@mixin transition-default() {
    &-enter-active {
        transition-duration: 0.25s !important;
        transition-timing-function: ease-in-out !important;
    }

    &-leave-active {
        transition-duration: 0.25s !important;
        transition-timing-function: ease-in-out !important;
    }

    &-move {
        transition-duration: 0.5s !important;
        transition-property: transform !important;
        transition-timing-function: ease-in-out !important;
    }
}


.transition-fade {
    @include transition-default();

    &-enter-from,
    &-leave-to {
        opacity: 0 !important;
    }

    &-enter-active,
    &-leave-active {
        transition-property: opacity !important;
    }
}