/*
  # Variables

  Includes all variable points, except for colours governed
  by themes (light or dark mode), which are found in `themes.scss`.

  Includes the following sections:
  - Breakpoints
  - Spacers

 */

/*
    ## Breakpoints

    Breakpoints should always be defined in `px` units.

    By default we have five breakpoints for:
    - `xs` - Extra Small: phones in portrait
    - `sm` - Small: Phones in landscape
    - `md` - Medium: Tablets in portrait or small notebooks
    - `lg` - Large: Desktops & tablets in landscape. More than accommodates scroll bars.
    - `xl` - Extra Large - Large Desktops, including 1080p, 4k and ultra-wide screens
 */
$breakpoint-xs-min: 0px;
$breakpoint-xs-max: 599px;
$breakpoint-sm-min: 600px;
$breakpoint-sm-max: 959px;
$breakpoint-md-min: 960px;
$breakpoint-md-max: 1199px;
$breakpoint-lg-min: 1200px;
$breakpoint-lg-max: 1599px;
$breakpoint-xl-min: 1600px;

$grid-breakpoints: (
    xs: $breakpoint-xs-min,
    sm: $breakpoint-sm-min,
    md: $breakpoint-md-min,
    lg: $breakpoint-lg-min,
    xl: $breakpoint-xl-min
) !default;


/*
    ## Spacers

    Spacers in Evance are based on a percentage of `1rem` (based on `16px`).
 */
$spacer-25: 0.25rem;
$spacer-50: 0.5rem;
$spacer-75: 0.75rem;
$spacer-100: 1rem;
$spacer-150: 1.5rem;
$spacer-200: 2rem;
$spacer-300: 3rem;
$spacer-400: 4rem;
$spacer-600: 6rem;
$spacer-800: 8rem;

$spacers: (
    0: 0,
    25: $spacer-25,
    50: $spacer-50,
    75: $spacer-75,
    100: $spacer-100,
    150: $spacer-150,
    200: $spacer-200,
    300: $spacer-300,
    400: $spacer-400,
    600: $spacer-600,
    800: $spacer-800
) !default;

:root {

    /* Font Stacks */
    --system-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    --monospace-font: ui-monospace, Menlo, Monaco, "Cascadia Code", "Segoe UI Mono", "Roboto Mono", "Ubuntu Monospace", "Courier New", monospace;

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Input fields */
    --input-height-small: 36px;
    --input-height-medium: 42px;
    --input-height-large: 48px;
    --input-radius: 3px;
    --input-border: 1px solid var(--input-border-color);

    /* Spacers */
    @each $percentage in map_keys($spacers) {
        --spacer-#{$percentage}: #{map-get($spacers, $percentage)};
    }

    /* Text */
    /** @todo: need scalable fonts */
    --text-small: 0.75rem;
    --text-medium: 0.875rem;
    --text-large: 1rem;
}

