@use "@/css/settings";
@use "@/css/tools/fluid" as fluid;

:root {

    --pattern-checkered: linear-gradient(45deg, var(--stroke) 25%, transparent 25%),
        linear-gradient(-45deg, var(--stroke) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--stroke) 75%),
        linear-gradient(-45deg, transparent 75%, var(--stroke) 75%);
    --pattern-checkered-size: 10px 10px;
    --pattern-checkered-position: 0 0, 0 5px, 5px -5px, -5px 0px;

    --current-surface-fill: var(--surface-default);

    /* Font Stacks */
    --typeface: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    --typeface-monospace: ui-monospace, Menlo, Monaco, "Cascadia Code", "Segoe UI Mono", "Roboto Mono", "Ubuntu Monospace", "Courier New", monospace;

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Icons */
    --icon-size-small: 16px;
    --icon-size-medium: 24px;
    --icon-size-large: 48px;
    --icon-size-x-large: 96px;

    /* Input fields */
    --input-height-x-small: 32px;
    --input-height-small: 36px;
    --input-height-medium: 42px;
    --input-height-large: 48px;
    --input-height-x-large: 56px;
    --input-radius: 3px;
    --input-border: 1px solid var(--stroke-input);
    --input-font-size: 1rem;

    /** Rounded */
    --rounded-x-small: 2px;
    --rounded-small: 4px;
    --rounded-medium: 8px;
    --rounded-large: 16px;
    --rounded-x-large: 32px;
    --rounded-circle: 50%;
    --rounded-pill: 9999px;


    /* Spacers */
    --spacer-0: 0;
    @each $key in map_keys(settings.$spacers) {
        --spacer-#{$key}: #{map-get(settings.$spacers, $key)};
    }
    @each $key in map_keys(settings.$negative-spacers) {
        --spacer-#{$key}: #{map-get(settings.$negative-spacers, $key)};
    }

    /* Text */
    --heading-lineheight: 1.25em;
    --heading-style: normal;
    --heading-typeface: var(--typeface);
    --heading-weight: 500;
    --heading-weight-bold: 800;
    @each $key, $value in settings.$headings {
        $min: map-get($value, min);
        $max: map-get($value, max);
        --heading-size-#{$key}: #{fluid.scalable($min, $max)};
    }
    @each $key, $value in settings.$text {
        $min: map-get($value, min);
        $max: map-get($value, max);
        --text-size-#{$key}: #{fluid.scalable($min, $max)};
    }
    --text-eyebrow-transform: uppercase;
    --text-eyebrow-typeface: var(--typeface);
    --text-eyebrow-weight: 700;
    --text-weight: 400;
    --text-weight-medium: 500;
    --text-weight-semibold: 600;
    --text-weight-bold: 700;
    --text-width-readable: 65ch;

    /* Easing */
    --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
    --easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
    --easing-decelerate: cubic-bezier(0.0, 0, 0.2, 1);


    --padding-x-large: #{fluid.scalable(1.5rem, 3rem)};
    --padding-large: #{fluid.scalable(1.5rem, 2rem)};
    --padding-medium: #{fluid.scalable(1rem, 1.5rem)};
    --padding-small: 1rem;
}

