.ev-radio-group--label {
    margin-bottom: var(--spacer-50);
}
.ev-radio-group {
    &.is-inline {

        .ev-radio-group--control {
            display: flex;
            gap: var(--spacer-50);
        }

        .ev-radio {
            display: inline-flex;
        }
    }
}
