@use "../../css/mixins";

.ev-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2px;
    margin: 0;
}

.ev-list {
    &[disabled],
    &.is-disabled {
        @include mixins.is-disabled;
    }
}