$appearances: (
    danger: "danger",
    information: "information",
    notice: "notice",
    primary: "brand",
    success: "success",
    warning: "warning"
);

$outline: 1px;

/* Default */
@mixin appearance-default($prefix, $maybeClickable: false) {
    &.is-appearance-default {
        --#{$prefix}-appearance-background: var(--fill-neutral);

        @if $maybeClickable {
            &.is-clickable {
                &:hover {
                    --#{$prefix}-appearance-background: var(--fill-neutral-hovered);
                }
                &:active {
                    --#{$prefix}-appearance-background: var(--fill-neutral-pressed);
                }
            }
        }

        &.is-variant-bold {
            --#{$prefix}-appearance-background: var(--fill-neutral-bold);
            --#{$prefix}-appearance-color: var(--text-inverse);
            @if $maybeClickable {
                &.is-clickable {
                    &:hover {
                        --#{$prefix}-appearance-background: var(--fill-neutral-bold-hovered);
                    }

                    &:active {
                        --#{$prefix}-appearance-background: var(--fill-neutral-bold-pressed);
                    }
                }
            }
        }

        &.is-variant-outlined {
            --#{$prefix}-appearance-background: transparent;
            --#{$prefix}-appearance-border: #{$outline} solid var(--fill-neutral-bold);

            &.is-active {
                --#{$prefix}-appearance-background: var(--fill-neutral);
            }
        }

        &.is-variant-subtle {
            --#{$prefix}-appearance-background: var(--fill-neutral-subtle);
            @if $maybeClickable {
                &.is-clickable {
                    &:hover {
                        --#{$prefix}-appearance-background: var(--fill-neutral-subtle-hovered);
                    }
                    &:active {
                        --#{$prefix}-appearance-background: var(--fill-neutral-subtle-pressed);
                    }
                }
            }
        }
    }
}

@mixin generate-appearance($prefix, $name, $cssName, $maybeClickable: false) {
    &.is-appearance-#{$name} {
        --#{$prefix}-appearance-background: var(--fill-#{$cssName});
        --#{$prefix}-appearance-color: var(--text-#{$cssName});

        @if $maybeClickable {
            &.is-clickable {
                &:hover {
                    --#{$prefix}-appearance-background: var(--fill-#{$cssName}-hovered);
                }
                &:active {
                    --#{$prefix}-appearance-background: var(--fill-#{$cssName}-pressed);
                }
            }
        }

        &.is-variant-bold {
            --#{$prefix}-appearance-background: var(--fill-#{$cssName}-bold);
            --#{$prefix}-appearance-color: var(--text-inverse);
            @if $maybeClickable {
                &.is-clickable {
                    &:hover {
                        --#{$prefix}-appearance-background: var(--fill-#{$cssName}-bold-hovered);
                    }
                    &:active {
                        --#{$prefix}-appearance-background: var(--fill-#{$cssName}-bold-pressed);
                    }
                }
            }
        }

        &.is-variant-outlined {
            --#{$prefix}-appearance-background: transparent;
            --#{$prefix}-appearance-border: #{$outline} solid var(--fill-#{$cssName}-bold);

            &.is-active {
                --#{$prefix}-appearance-background: var(--fill-#{$cssName});
            }
        }

        &.is-variant-subtle {
            --#{$prefix}-appearance-background: transparent;
        }
    }
}

@mixin generate-appearances($prefix, $maybeClickable: false) {

    & {
        --#{$prefix}-appearance-border: #{$outline} solid transparent;
    }

    @include appearance-default($prefix, $maybeClickable);

    @each $name, $cssName in $appearances {
        @include generate-appearance($prefix, $name, $cssName, $maybeClickable);
    }
}
