.ev-text {
    &.is-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.is-truncate-lines {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: var(--max-lines, 2);
        line-clamp: var(--max-lines, 2);
        -webkit-box-orient: vertical;
    }
}

.ev-text {
    &.is-appearance-default {
        color: var(--text-default);
    }
    &.is-appearance-danger {
        color: var(--text-danger);
    }
    &.is-appearance-information {
        color: var(--text-information);
    }
    &.is-appearance-inverse {
        color: var(--text-inverse);
    }
    &.is-appearance-notice {
        color: var(--text-notice);
    }
    &.is-appearance-primary {
        color: var(--text-brand);
    }
    &.is-appearance-subtle {
        color: var(--text-subtle);
    }
    &.is-appearance-success {
        color: var(--text-success);
    }
    &.is-appearance-warning {
        color: var(--text-warning);
    }
}