@use '@/css/transitions';

.ev-number {
    display: inline-flex;
}

.ev-number-digit,
.ev-number-symbol {
    display: inline-block;
    height: 1em;
    position: relative;
    line-height: 1;
    transition: all var(--ev-number-duration, 0.3s);
    vertical-align: text-bottom;
    isolation: isolate;
    text-align: center;
    will-change: transform, opacity, width;
}
.ev-number-digit {
    overflow: hidden;
}

.ev-number-digit--stack {
    display: flex;
    flex-direction: column;
}

.ev-number-digit--num {
    height: 1em;
    line-height: 1;
    min-width: 1ch;
}

.ev-number-transition {
    @include transitions.transition-default();

    &-leave-active {
        .ev-number-digit--stack {
            transform: translateY(0) !important;
        }
    }

    &-enter-to,
    &-leave-from {
        opacity: 1;
        transform: scale(1);
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: scale(0.5);
    }
}