
.ev-menu {
    > .ev-overlay--content {
        border-radius: var(--rounded-small);
        display: flex;
        flex-direction: column;

        > .ev-list {
            background-color: var(--surface-overlay);
            border-radius: inherit;
            box-shadow: var(--surface-overlay-shadow);
            height: 100%;
            overflow: auto;
            width: 100%;
        }
    }
}