.ev-img {
    z-index: 0;

    &.is-booting {
        .ev-responsive--sizer {
            transition: none;
        }
    }
}

.ev-img--img,
.ev-img--picture,
.ev-img--gradient,
.ev-img--placeholder,
.ev-img--error {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ev-img--preload {
    filter: blur(4px);
}

.ev-img--img {
    &.is-object-cover {
        object-fit: cover;
    }

    &.is-object-contain {
        object-fit: contain;
    }
}

.ev-img--gradient {
    background-repeat: no-repeat;
}