.ev-expansion-panel {
    --expansion-panel-radius: var(--rounded-small);
    background: var(--surface-panel);
    border-radius: var(--expansion-panel-radius);
    flex: 1 0 100%;
    max-width: 100%;
    position: relative;
    transition: border-radius 0.25s var(--easing-standard), margin 0.25s var(--easing-standard);

    &:not(:first-child):before {
        content: '';
        border-top: 1px solid var(--stroke);
        width: 100%;
        height: 1px;
        display: block;
        transition: opacity 0.25s var(--easing-standard);
    }
}
