.ev-expansion-panel {
    --expansion-panel-radius: var(--rounded-small);
    background: var(--surface-panel);
    border-radius: var(--expansion-panel-radius);
    flex: 1 0 100%;
    max-width: 100%;
}
