@use "../../css/mixins";

$indicator-width: 3px;

.ev-list-item {
    align-items: center;
    border-radius: var(--input-radius);
    display: flex;
    gap: 4px;
    min-height: var(--input-height-medium);
    outline: 0;
    padding: 8px 12px;
    position: relative;
    transition: background 0.15s ease-in-out, color 0.15s ease-in-out;

    @at-root a#{&} {
        color: inherit;
        font-weight: var(--text-weight);
        text-decoration: none;
    }

    > * {
        display: flex;
        flex: 0 0 auto;
        width: min-content;
    }
}

.ev-list-item--content {
    flex: 1 0 auto;
    padding-inline: 4px;
}

.ev-list-item {
    &.is-clickable {
        cursor: pointer;

        &:hover {
            color: inherit;
            background: var(--background-muted);
        }
    }
}

.ev-list-item--indicator {
    position: absolute;
    width: $indicator-width;
    height: 100%;
    border-top-left-radius: var(--input-radius);
    border-bottom-left-radius: var(--input-radius);
    left: 0;
    opacity: 0;
    overflow: hidden;
    top: 0;
    transition: opacity 0.25s ease-in-out;
    will-change: opacity;

    &:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: var(--text-selected);
        transition: transform 0.25s ease-in-out;
        transform: translateX(-100%);
        top: 0;
        left: 0;
        will-change: transform;
    }
}

.ev-list-item {
    &.is-active {
        background: var(--background-selected);
        color: var(--text-selected);

        .ev-list-item--indicator {
            opacity: 1;
            &:before {
                transform: translateX(0);
            }
        }
    }
}

.ev-list-item {
    &[disabled],
    &.is-disabled {
        @include mixins.is-disabled;
    }
}